<template>
  <div>
    <p class="composition">Daily Milk Production</p>
    <h5>How many litres of milk does your cow produce per day?</h5>
    <div class="inputs">
      <span>
        <IntegerInput
          @enter="handleSubmit"
          v-model="quantityOfMilk"
          :autofocus="true"
        />
      </span>
    </div>
    <div class="error-message">
      <p>{{ error }}</p>
    </div>
    <AppButton
      :disabled="disabled"
      @click="handleSubmit"
    >
      See Results &#x2192;
    </AppButton>
  </div>
</template>

<script>
import AppButton from '@/components/ui/AppButton'
import IntegerInput from '@/components/ui/IntegerInput'
import { dairyMilkProductionValidator } from
  '@/utils/validators/DairyMilkProductionValidator.js'
export default {
  name: 'DailyMilkCount',

  components: {
    AppButton,
    IntegerInput
  },

  methods: {
    handleSubmit: function () {
      !this.disabled &&
      this.$emit('quantityOfMilk', this.quantityOfMilk)
    }
  },

  watch: {
    quantityOfMilk: function (value) {
      this.error = dairyMilkProductionValidator.emptyInputCheck(value) ||
      dairyMilkProductionValidator.zeroValueCheck(value) ||
      dairyMilkProductionValidator.negativeValueCheck(value) ||
      dairyMilkProductionValidator.moreThanMaximumQuantityCheck(value)

      this.disabled = this.error !== undefined
    }
  },

  data () {
    return {
      quantityOfMilk: this.initialQuantityOfMilk,
      error: '',
      disabled: this.initialQuantityOfMilk === 0
    }
  },
  props: {
    initialQuantityOfMilk: {
      type: Number,
      required: true
    }
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  .composition {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  .inputs {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem;
  }

  .inputs span {
    display: inline-block;
    flex-basis: 7rem;
    border-right: 0.03rem solid #eee;
  }

  .inputs :last-child {
    border: none;
  }

  h5 {
    min-width: 16rem;
    width: 80%;
    max-width: 28rem;
    margin: auto;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  .error-message {
    font-size: 0.75rem;
    height: 2.2rem;
  }

  .error-message * {
    color: #ff0000;
    margin: 0;
  }

  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 1.05rem;
    }
  }
</style>
