<template>
  <ProfileSideBarLayout>
    <transition name appear>
      <div class="main-content rr-container">
        <UpdatesList :dataList="getAllUpdates" />
        <LoadMore
         :loadMore="loadMore"
         :loadMoreButtonContent="loadMoreButtonContent"
         :showLoadMore="showLoadMore"
        />
        <div class="loader" v-html="loaderContent" v-if=showSpinner></div>
      </div>
    </transition>
  </ProfileSideBarLayout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'
import UpdatesList from './UpdatesList'
import LoadMore from '@/components/ui/LoadMoreButton'

export default {
  name: 'AllUpdates',
  components: {
    ProfileSideBarLayout,
    UpdatesList,
    LoadMore
  },
  data () {
    return {
      isLoadMoreClicked: false
    }
  },
  metaInfo () {
    return {
      title: 'Dairynomics - Updates',
      meta: [
        { name: 'description', content: 'Dairynomics Updates Listing' },
        { property: 'og:title', content: 'Dairynomics Updates Listing' },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: `https://www.cowsoko.com/updates` },
        { property: 'og:description', content: 'Dairynomics Updates Listing' }
      ]
    }
  },
  methods: {
    ...mapActions([
      'fetchUpdates'
    ]),
    loadMore () {
      this.isLoadMoreClicked = true
      const nextPage = this.getCurrentPage + 1
      this.fetchUpdates({ pageNumber: nextPage, dataScope: 'allUpdates' })
    }
  },
  computed: {
    ...mapGetters([
      'getAllUpdates',
      'getExpertsUpdates',
      'getUpdatesRequestStatuses',
      'getCurrentPage'
    ]),
    loaderContent () {
      const loadMoreButtonContent = this.getUpdatesRequestStatuses.isFetching
        ? '<i class="fas fa-spinner fa-spin"/>'
        : ''
      return loadMoreButtonContent
    },
    loadMoreButtonContent () {
      const loadMoreButtonContent = this.getUpdatesRequestStatuses.isFetching
        ? '<i class="fas fa-spinner fa-spin"/>'
        : 'LOAD MORE'
      return loadMoreButtonContent
    },
    showLoadMore () {
      return this.getAllUpdates.length > 0
    },
    showSpinner () {
      return this.isLoadMoreClicked === false
    }
  },
  mounted () {
    this.fetchUpdates({ pageNumber: this.getCurrentPage, dataScope: 'allUpdates' })
  }
}
</script>

<style scoped lang="scss">
.rr-container {
  max-width: 650px;
  .loader {
  display: flex;
  margin-left: 50%;
  margin-bottom: 40px;
}
}
.loader {
  display: flex;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}

header {
  .page-title {
    font-size: 25px;
  }
}

// tablet portrait
@media only screen and (min-width: 40em) {
  header {
    margin-bottom: 40px;
  }
  .main-content {
    padding-top: 20px;
  }
}

/* TRANSITION */

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 1.4s ease-in;
}

@media screen and (max-width: 991.98px) {
   .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
  }
}

@media screen and (max-width: 767.98px) {
  .loader {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50%;
    margin-top: 30%;
  }
  .main-content{
    margin-top: 20px;
  }
}

@media (max-width: 575.98px) {
  .loader {
    display: flex;
    justify-content :flex-start;
    align-items:flex-start;
    margin-top: 50%;
  }
}
</style>
