<template>
  <div>
  <p class="composition">Let's see how much money you can make ...</p>
  <h5>Producing how many litres of milk per cow on average?</h5>
  <div class="inputs">
    <span>
      <IntegerInput
        @enter="handleSubmit"
        v-model="quantity"
        :autofocus="true"
      />
    </span>
  </div>
  <div class="error-message">
    <p>{{validator.message}}</p>
  </div>
  <AppButton
    :disabled="isDisabled"
    @click="handleSubmit"
  >
    Next &#x2192;
  </AppButton>
  <div>
    <a href="#" @click.prevent="$emit('changeStage')">&#x2190; Back</a>
  </div>
</div>
</template>

<script>
import AppButton from '@/components/ui/AppButton'
import IntegerInput from '@/components/ui/IntegerInput'
import validatorHelper from '@/utils/validators/milkMeasureValidator'

export default {
  name: 'MilkMeasure',

  data () {
    return {
      quantity: this.milkQuantity,
      validator: {
        isError: false,
        message: ''
      }
    }
  },

  methods: {
    handleSubmit () {
      !this.isDisabled &&
      this.$emit('submit', { milkQuantity: this.quantity })
    }
  },

  computed: {
    isDisabled () {
      return this.validator.isError || this.quantity === 0
    }
  },

  watch: {
    quantity () {
      this.validator = validatorHelper(this.quantity)
    }
  },

  props: {
    milkQuantity: {
      type: Number,
      required: true
    }
  },

  components: {
    AppButton,
    IntegerInput
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  .composition {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
  }

  .inputs {
    display: flex;
    justify-content: center;
    margin: 2rem 0 1rem;
  }

  .inputs span {
    display: inline-block;
    flex-basis: 7rem;
    border-right: 0.03rem solid #eee;
  }

  .inputs :last-child {
    border: none;
  }

  h5 {
    min-width: 16rem;
    width: 80%;
    max-width: 28rem;
    margin: auto;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  .error-message {
    font-size: 0.75rem;
    height: 2.2rem;
  }

  .error-message * {
    color: #ff0000;
    margin: 0;
  }

  @media only screen and (max-width: 400px) {
    h5 {
      font-size: 1.05rem;
    }
  }
</style>
