<template>
  <ProfileSideBarLayout v-if="activeSwitcherLink='veiwLivestock'">
  <div v-if="!avalaibleliveStock.id" >
    <Spinner />
  </div>
  <transition name="fade" appear>
    <div v-if="avalaibleliveStock.id" class="individual-livestock-wrapper">
        <div class="livestock-info">
          <div class="switcher-wrapper">
            <Switcher
              :switcherOptionList="switcherOptionList"
              :activeLink="activeSwitcherLink"
              @changeActiveLinkStatus="activeSwitcher"
            />
          </div>
            <IndividualItemHeader
              :headerInfo="avalaibleliveStock"
            />
            <br>
            <IndividualItemInfo
              :farmInfo="avalaibleliveStock"
            >
              <IndividualLivestockDetails
                :livestock="avalaibleliveStock"
              />
            </IndividualItemInfo>
      </div>
    </div>
  </transition>
</ProfileSideBarLayout>
</template>

<script>
import IndividualItemHeader from '@/pages/IndividualItem/IndividualItemHeader.vue'
import IndividualItemInfo from '@/pages/IndividualItem/IndividualItemInfo.vue'
import IndividualLivestockDetails from './IndividualLivestockDetails'
import { mapActions, mapGetters } from 'vuex'
import Switcher from '@/components/ui/Switcher'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner.vue'

export default {
  data () {
    return {
      activeSwitcherLink: 'veiwLivestock',
      switcherOptionList: [
        {
          optionName: 'Veiw Livestock',
          linkName: 'veiwLivestock'
        },
        {
          optionName: 'Similar Livestock',
          linkName: 'similarLivestock'
        },
        {
          optionName: 'Contact Seller',
          linkName: 'contactSeller'
        }
      ]
    }
  },
  components: {
    IndividualItemHeader,
    IndividualItemInfo,
    IndividualLivestockDetails,
    Switcher,
    ProfileSideBarLayout,
    Spinner
  },
  mounted () {
    /** triggers the getIndividualLivestock action to fetch a particular livestock */
    return this.getIndividualLivestock(this.$route.params.livestockId)
  },
  computed: {
    ...mapGetters({
      avalaibleliveStock: 'avalaibleliveStock'
    })
  },
  methods: {
    ...mapActions([
      'getIndividualLivestock'
    ]),
    /** method changes the present switcher */
    activeSwitcher (payload) {
      this.activeSwitcherLink = payload
    }
  }
}
</script>
<style scoped>
  /* TRANSITION */

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition: all 1.4s ease-in;
}
@media only screen and (max-width: 950px) {
   .switcher-wrapper {
    padding: 0% 2%
  }
}
</style>
