<template>
  <div>
    <h2>{{farmName}}</h2>
    <p>{{county}}</p>
  </div>
</template>

<script>
export default {
  props: ['farmName', 'county']
}
</script>

<style scoped>
p {
  font-size: 1.3rem;
  color: darkgray;
  font-weight: 700;
}
h2 {
  color: #580010;
}

@media only screen and (max-width: 600px){
  h2{
    font-size: 1.5rem;
  }
  p{
    font-size: 1rem;
  }
}

@media only screen and (max-width: 450px){
  h2{
    font-size: 1.2rem;
  }
  p{
    font-size: 1rem;
  }
}
</style>
