<template>
  <div class="parent-card-icons mt-4">
    <div class="card-icons">
      <div class="image-div">
        <img src="../../assets/user-contact.png" class="image">
      </div>
      <div class="card-icons-text">
        <p class="card-icons-text-user">Owner</p>
        <p>{{owner}}</p>
      </div>
    </div>
    <div class="card-icons">
      <div class="image-div">
        <img src="../../assets/location.png" class="image">
      </div>
      <div class="card-icons-text">
        <p class="card-icons-text-location">Location</p>
        <p>{{location}}</p>
      </div>
    </div>
    <div class="card-icons">
      <div class="image-div">
        <img src="../../assets/cow-left.png" class="image">
      </div>
      <div class="card-icons-text">
        <p class="card-icons-text-cow-left">Number of Cows</p>
        <p>{{num_cows}}</p>
      </div>
    </div>
    <div class="card-icons">
      <div class="image-div">
        <img src="../../assets/cow-right.png" class="image">
      </div>
      <div class="card-icons-text">
        <p class="card-icons-text-cow-right">Cow breeds</p>
        <p>{{cow_breeds}}</p>
      </div>
    </div>
    <div class="card-icons">
      <div class="image-div">
        <img src="../../assets/bottle.png" class="image">
      </div>

      <div class="card-icons-text">
        <p class="card-icons-text-milk">Milk Production</p>
        <p>{{milk_production}} litres</p>
      </div>
    </div>
    <div class="card-icons">
      <div class="image-div">
        <img src="../../assets/pink-location.png" class="image">
      </div>
      <div class="card-icons-text">
        <p class="card-icons-text-land-size">Land size</p>
        <p>{{land_size}}</p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: ['cow_breeds', 'milk_production', 'land_size', 'num_cows', 'location', 'owner']
}
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Comfortaa:700|Muli");

* {
  font-family: "Muli", sans-serif;
}
.image-div {
  height: 50px;
  width: 50px;
}

.image {
    height: auto;
  width: 100%;
}

.card-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-icons-text {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  width: 80px;
  margin-left: 0.5rem;
}
.card-icons-text p {
  font-size: 0.6rem;
  margin-bottom: 0.1rem;
  color: darkgray;
  line-height: 0.9rem;
}
.card-icons-text p:first-child {
  font-weight: 900 !important;
  font-size: 0.6rem !important;
  /* color: darkgray */
}

.card-icons-text-user {
  font-weight: 900 !important;
  color: #10a01f !important;
}

.parent-card-icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 0.7rem;
}
.card-icons-text-location {
  font-weight: 900 !important;
  color: #dbd94d !important;
}
.card-icons-text-cow-left {
  color: #149ea3 !important;
}

.card-icons-text-cow-right {
  color: #ed7a00 !important;
}

.card-icons-text-milk {
  color: #c03e3e !important;
}

.card-icons-text-land-size {
  color: #e56af3 !important;
}

@media only screen and (max-width: 734px){
  .image-div{
    height: 35px;
    width: 35px;
  }
  .card-icons:nth-child(4n) .image-div img{
    height: 33px;
    width: 33px;
  }
}
</style>
