<template>
  <div class="card border-0">
    <div v-for="farm in farmDetails" :key="farm.id" class="card-body">
      <img id="farm-photo" :src="farm.photo[0]" alt="farm-photo">
      <h2 id="farm-name"><router-link :to="`/farms/${farm.id}`">{{farm.farm_name}}</router-link></h2>
      <router-link :to="`/farms/${farm.id}`"><button id="view-farmn-btn">View Farm</button></router-link>

      <div class="reactions">
        <IndividualCardIcons
        :owner="farm.owner"
        :land_size="farm.land_size"
        :location="farm.location"
        :milk_production="farm.milk_production"
        :cow_breeds="farm.cow_breeds"
        :num_cows="farm.num_cows"/>
        <!-- <div class="owner-section">
          <img class="image-icon" src="@/assets/user-contact.png">
          <div id="details">
            <label id="owner-label">Owner</label>
            <p id="name">{{farm.owner}}</p>
          </div>
        </div> -->

      <!-- <div class="farm-location">
        <img class="image-icon" src="@/assets/location.png">
        <div id="details">
          <label id="location-label">Location</label>
          <p id="name">{{farm.location}}</p>
        </div>
      </div> -->

      <!-- <div class="number-0f-cows-section">
        <img class="image-icon" src="@/assets/cow-left.png">
        <div id="details">
          <label id ="number-0f-cows-label">Number of cows</label>
          <p id="name">{{farm.num_cows}}</p>
        </div>
      </div> -->

      <!-- <div class="cow-breed-section">
         <img class ="image-icon" src="@/assets/cow-right.png">
        <div id="details">
          <label id="cow_breeds-label">Cow bread</label>
          <p id="name">{{farm.cow_breeds}}</p>
        </div>
      </div> -->

      <!-- <div class="milk-production-section">
        <img class ="image-icon" src="@/assets/bottle.png">
        <div id="details">
          <label id="milk-production-label">Milk production</label>
          <p id="name">{{farm.milk_production}}</p>
        </div>
      </div> -->

      <!-- <div class="land-size-section">
       <img class ="image-icon" src="@/assets/pink-location.png">
        <div id="details">
          <label id="land-size-label">Land</label>
          <p id="name">{{farm.land_size}}</p>
        </div>
      </div> -->

      </div>
    </div>
  </div>
</template>
<script>
import IndividualCardIcons from '@/pages/ViewIndividualFarm/IndividualCardIcons'
export default {
  props: ['farmDetails'],
  components: {
    IndividualCardIcons
  }
}
</script>
<style scoped>
#owner-label {
  font-size: 0.6rem;
  color: #088a4b;
}
#location-label {
  font-size: 0.6rem;
  color: #d2cd04;
}
#number-0f-cows-label {
  font-size: 0.6rem;
  color: #09a1a7;
}
#cow_breeds-label {
  font-size: 0.6rem;
  color: #ed7a00;
}
#milk-production-label {
  font-size: 0.6rem;
  color: #bc3130;
}
#land-size-label {
  font-size: 0.6rem;
  color: #d400eb;
}
label {
  margin-top: 3px;
}
.owner-section {
  display: inline-block;
}
.farm-location {
  margin-left: 27px;
  display: inline-block;
}
.number-0f-cows-section {
  margin-left: 27px;
  display: inline-block;
}
.cow-breed-section {
  margin-left: 21px;
  display: inline-block;
}
.milk-production-section {
  margin-left: 27px;
  display: inline-block;
}
.land-size-section {
  margin-left: 27px;
  display: inline-block;
}
.card {
  width: 100%;
  border-radius: 0px;
  margin-top: 3px;
  box-shadow: 0 4px 8px 0 rgba(244, 247, 234),
    0px 1px 10px 0px rgba(162, 203, 25, 0.12);
}
.reactions {
  margin-top: 5%;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
#details {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: column;
  width: 80px;
  margin-left: 32%;
  margin-top: -28%;
}
#view-farmn-btn {
  background-color: #88af00;
  text-align: center;
  color: #fff;
  padding: 0.1rem 0.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  float: right;
  margin-top: -6%;
  margin-right: 24px;
}
#name {
  margin-top: -9%;
  font-size: 0.5rem;
  color: #848484;
}
#farm-name {
  margin-top: 45px;
  font-size: 30px;
  color: #510012;
  margin-left: 20px;
  text-decoration: none;
}
#farm-name > a {
  text-decoration: none;
  color: inherit;
}
#farm-photo {
  margin-left: 23px;
  width: 95%;
}
.image-icon {
  width: 30%;
}

@media screen and (max-width: 600px) {
  #farm-name {
    margin-top: 45px;
    font-size: 20px;
    color: #510012;
    margin-left: 20px;
  }
  .reactions {
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
  }
  #view-farmn-btn {
    float: left;
    margin-top: 3%;
  }
  .card {
    width: 90%;
    margin: 5%;
    border-radius: 0px;
    margin-top: 3px;
    box-shadow: 0 4px 8px 0 rgba(244, 247, 234),
      0px 1px 10px 0px rgba(162, 203, 25, 0.12);
  }
  @media only screen and (max-width: 734px) {
    .card {
      margin: 0px;
      width: 100%;
    }
    .card-body {
      padding: 10px;
    }
    .card-body #farm-photo {
      margin: 0px;
      width: 100%;
    }
    .card-body #farm-name {
      margin: 10px 0px;
    }
    .card-body a #view-farmn-btn,
    .parent-card-icons.mt-4 {
      margin: 0px !important;
    }
    .card-body .reactions {
      margin: 10px 0px;
      width: 100%;
    }
  }
}
</style>
