<template>
  <div class="col-md-6 single-blog">
    <div class="blog-content">
      <img class="image-icon" v-bind:src="image" alt="blog-image" height="300">
      <h4 class="blog-title"><router-link :to="url">{{title.length >= 35 ? title.slice(0, 35)+'...' : title}}</router-link></h4>
      <div class="meta d-flex">
        <router-link :to="url" class="readmore mobile">Read More</router-link>
        <span class="float-left">
          <i class="far fa-thumbs-up">
            <label>{{likes}}</label>
          </i>
          <i class="far fa-comment"></i>
          <router-link :to="url" class="readmore">Read More</router-link>
        </span>
        <span class="float-right">
          <SocialShare :itemUrl="currentUrl" :fbTwittertext="title" :whatsappText="textshare"/>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import SocialShare from '@/components/ui/SocialShare'
export default {
  name: 'Blog',
  props: ['title', 'likes', 'comments', 'image', 'url', 'id'],
  components: {
    SocialShare
  },
  data () {
    return {
      currentUrl: `${window.location.origin}/blogs/${this.id}`
    }
  },
  computed: {
    textshare () {
      let text = `${this.title} ${this.currentUrl}`
      return text
    }
  }
}
</script>

<style scoped>
.single-blog {
  color: #7d404e;
  padding: 15px;
  float: left;
}
.blog-content {
  background-color: #f3f7e9;
  border: 1px solid #f4f7ea;
  box-shadow: -1px 2px 10px 1px rgba(194, 240, 68, 0.4);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.single-blog img {
  width: 100%;
  object-fit: cover;
}
.single-blog h4 {
  padding: 8px 20px 0px 20px;
  font-size: 1.2em;
}
.single-blog h4 > a {
  text-decoration: none;
  color: inherit;
}
.single-blog .meta {
  overflow: auto;
  background: #ffffff;
  margin: 0px;
  padding: 15px 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: block !important;
}
.single-blog .meta span.float-left i {
  margin-right: 15px;
  color: #93c333;
}
.single-blog .meta span.float-left i label {
  font-family: "Comfortaa-Bold", "Avenir", Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: 5px;
  color: black;
}
.single-blog .meta span.float-left a,
.single-blog .meta span.float-right label {
  font-size: 13px;
  color: #b2b2b2;
  text-decoration: none;
}
.single-blog .meta span.float-right i {
  margin-left: 10px;
}
.single-blog .meta span label {
  margin: 0px;
}
.readmore.mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .single-blog .meta span.float-left i {
    margin-right: 5px;
  }
  .single-blog .meta span.float-right span >>> a i {
    margin: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .readmore {
    display: none;
  }
  .readmore.mobile {
    display: block;
    color: #b2b2b2;
    font-size: 13px;
  }
}
</style>
