<template>
  <div class="test-body">
    <ProfileTestItem
      v-for="(test, index) in tests"
      :key="index"
      :title="test.title"
      :testComponent="test.testComponent"
      :result="getResult(test.title)"
      :image="test.image"
      :imageName="test.imageName"
    />
  </div>
</template>

<script>
import ProfileTestItem from './ProfileTestItem'
export default {
  props: {
    tests: Array,
    results: Object
  },
  components: { ProfileTestItem },
  methods: {
    getResult (title) {
      let testResult = this.results[title]
      return testResult ? testResult.results : ''
    }
  }
}
</script>

<style lang="scss" scoped>
  .test-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media only screen and (max-width: 1216px) {
    .test-body{
      justify-content: center;
    }
  }
  @media only screen and (max-width: 900px) {
    .test-body{
      padding: 0px;
      margin: 10px 0px 10px 0px;
    }
    .test-item{
      margin-bottom: 25px !important;
    }
  }
</style>
