<template>
  <div class="chat-header">
    <TopContainer v-bind:isSideBar="false">
      <UserDetails v-bind:toggleSideBar="toggleSideBar"/>
    </TopContainer>
  </div>
</template>
<script>
import TopContainer from '@/pages/Message/TopContainer'
import UserDetails from '@/pages/Message/UserDetails'
export default {
  name: 'ContentHeader',
  components: {
    TopContainer,
    UserDetails
  },
  props: {
    toggleSideBar: {
      type: Function
    }
  }
}
</script>
