<template>
  <div v-bind:class="this.getSideBarClasses">
    <slot></slot>
  </div>
</template>
<script>
export default {
  name: 'TopConatiner',
  props: {
    isSideBar: {
      type: Boolean,
      required: true
    }
  },
  computed: {
    getSideBarClasses () {
      return (
        'top-container ' + (this.isSideBar ? 'sidebar' : 'content')
      )
    }
  }
}
</script>

<style scoped>
.top-container {
  width: 100%;
  min-height: 192px;
  padding: 0 2rem 1rem;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
.sidebar {
  border-bottom-color: #5e5d5d33;
  background-color: #1b1b1b;
  padding-top: 7.35rem;
}
.content {
  background-color: #ffffff;
  border-bottom-color: #96a8469a;
  padding-top: 8rem;
}
</style>
