<template>
  <div v-bind:class="getUserChatClasses" v-show="hasMessages">
    <div class="image-wrapper">
      <UserImage size="small" v-bind:doReverse="!doReverse" v-bind:imageURL="this.getPhotoURL"/>
    </div>
    <div v-bind:class="this.getMessageClasses">
      <div>{{ message.message }}</div>
      <div class="more-details">
        <div v-bind:class="[this.isResending ? 'data invisible' : 'date']">
          {{ message.created_at }}
          <span v-show="!doReverse">
            |
            <span v-bind:class="getStatusClasses">{{this.showResend ? "Not delivered" : "Delivered"  }}</span>
          </span>
        </div>
        <div v-bind:class="[this.isResending ? 'resend-align' :'']">
          <button
            v-show="this.showResend && !doReverse"
            class="resend"
            v-on:click="resendMessage(message)"
            v-html="this.getPrompt"
          >
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import UserImage from '@/pages/Message/UserImage'
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'UserChat',
  components: {
    UserImage
  },
  props: {
    message: {
      required: true
    },
    doReverse: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      isResending: false
    }
  },
  computed: {
    getPhotoURL () {
      return this.doReverse ? this.chatMate.profile.pic : this.USER_PROFILE.profile.pic
    },
    getPrompt () {
      return this.isResending
        ? 'Sending...'
        : 'Resend'
    },
    showResend () {
      return !this.message.status
    },
    getUserChatClasses () {
      return 'chat' + (this.doReverse ? ' reciever' : ' sender')
    },
    getMessageClasses () {
      return (
        'chat-message-list ' +
        (this.doReverse ? 'receiver-message' : 'sender-message')
      )
    },
    getStatusClasses () {
      return this.message.status ? 'delivered' : 'fail'
    },
    hasMessages () {
      return Object.keys(this.message).length > 0
    },
    ...mapGetters(['chatMate', 'USER_PROFILE'])
  },
  methods: {
    ...mapActions(['postMessageAction']),
    async resendMessage (message) {
      this.isResending = true
      const response = await this.postMessageAction({ ...message, isResend: true })
      this.isResending = false
    }
  }
}
</script>
<style scoped>
.image-wrapper {
  margin-top: -5px;
  height: 60px;
  width: 60px
}
.chat {
  padding: 1.5rem 1.5rem 0;
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: #ffffff;
}
.chat-message-list {
  width: calc(92.5% - 0.5rem);
  padding: 1.5rem;
  font-size: 0.87rem;
  color: #37393a;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.invisible {
  visibility: hidden
}
.receiver {
  flex-direction: row;
}
.sender {
  flex-direction: row-reverse;
}
.sender-message {
  margin-right: 1.3rem;
  background-color: #f4f7ea;
}
.receiver-message {
  margin-left: 1.3rem;
  background-color: #e4f5f7;
}
.receiver-message .date {
  font-size: 0.6rem;
}
.more-details {
  font-size: 0.6rem;
  margin-top: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.delivered {
  color: rgb(89, 180, 89);
}
.fail {
  color: rgba(206, 7, 7, 0.89);
}
.resend {
  padding: 0.2rem 0.5rem;
  color: #90b42e;
  outline: none;
  border: 1px solid #90b42e;
  background-color: inherit;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
}
@media only screen and (min-width: 1025px) {
  .chat {
    margin-left: 1.7rem;
  }
}
@media only screen and (max-width: 660px) {
  .chat {
    padding: 1.5rem 0.7rem 0;
  }
  .more-details {
    flex-direction: column;
  }
  .resend {
    margin-top: 0.5rem;
  }
  .receiver-message {
    margin-left: 0.8rem;
  }
  .sender-message {
    margin-right: 0.8rem;
  }
}

@media only screen and (max-width: 360px) {
  .image-wrapper {
    margin-top: -10px;
    height: 40px;
    width: 40px
  }
}
</style>
