<template>
  <div class="container">
    <div class="container-details">
      <div class="container-details-user">
        <button class="bars" v-on:click="toggleSideBar(true)">
          <i class="fa fa-bars"></i>
        </button>
        <div class="user-details">
          <div class="user-image-wrapper">
            <UserImage size="big" v-bind:doReverse="true" v-bind:imageURL="this.getImageURL" />
          </div>
          <div class="user-content-details" v-show="this.chatMate.isActive">
            <p class="chat">CHAT WITH</p>
            <h2 class="user-name">{{ chatMate.first_name }} {{ chatMate.last_name }}</h2>
            <p class="county">
             {{ Number(chatMate.is_expert) === 1 ? 'Expert' : 'Farmer' }}, <span>{{ chatMate.county }}</span>
            </p>
            <p v-bind:class="this.getStatusClasses">{{ chatMate.status }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserImage from '@/pages/Message/UserImage'
import { mapGetters } from 'vuex'
export default {
  name: 'UserDetails',
  components: {
    UserImage
  },
  props: {
    toggleSideBar: {
      type: Function,
      required: true
    }
  },
  computed: {
    getStatusClasses () {
      return 'status ' + (this.chatMate.status ? this.chatMate.status.toLowerCase() : '')
    },
    getImageURL () {
      return this.chatMate.profile ? this.chatMate.profile.pic : null
    },
    ...mapGetters(['chatMate'])
  }
}
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bars {
  cursor: pointer;
  padding: 0 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}

.button {
  background-color: none;
  border: 1px solid #b8ce7a;
  border-radius: 50px;
  color: #90b42e;
  padding: 0.3rem 1.8rem;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  width: calc(100% - 6rem);
}

.container-details {
  display: flex;
  width: 75%;
  justify-content: space-between;
}

.user-details,
.container-details-user {
  display: flex;
  justify-content: flex-start;
}

.container-details-partition {
  display: block;
  width: 5px;
  height: 100%;
  background-color: rgb(234, 241, 214);
  border-radius: 5px;
}
.user-content-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-image-wrapper {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.container-button-wrapper {
  width: 25%;
  display: flex;
  align-items: center;
  padding-left: 4%;
}

.user-content-details {
  margin-left: 0.5rem;
  padding-top: 0.4rem;
  width: 70%;
  text-transform: capitalize
}

.user-content-details .user-name {
  color: #520114;
  font-size: 1rem;
  margin: 0.1rem 0 0;
  white-space: nowrap;
}

.user-content-details .chat {
  color: #cfcfcf;
  font-size: 0.65rem;
}
.user-content-details .county {
  color: #9c9a9a;
  font-size: 0.9rem;
  white-space: nowrap;
}
.status {
  font-size: .8rem;
}
.offline {
  color: #646363;
}
.online {
  color:#98c02b;
}
.county > span {
  white-space: pre;
}

.fa-user {
  font-size: 1.5rem;
}

.fa-bars {
  font-size: 2.5rem;
  color: #c9c9c9;
}
@media only screen and (min-width: 1025px) {
  .bars {
    display: none;
  }
  .container {
    margin: 0;
    width: 100%;
  }
  .container-details {
    width: 100%;
  }
  .container-details-user {
    margin-left: -10px;
  }
}
@media only screen and (max-width: 660px) {
  .bars {
    padding: 0;
  }
  .container {
    margin: 0 0rem;
    width: 100%;
  }
  .user-content-details {
    margin-left: 0;
  }
}
@media only screen and (max-width: 360px) {
  .fa-bars {
    font-size: 1.8rem;
  }
  .user-content-details .user-name {
    font-size: .75rem;
  }
  .user-content-details .county {
    font-size: .6rem
  }
  .status {
    font-size: .6rem;
  }
}
</style>
