<template>
  <div v-bind:class="this.getIsActiveClasses" v-on:click="switchActiveChatMate()">
    <div class="card-content">
      <div class="card-content-image">
        <UserImage size="small" v-bind:imageURL="user.profile.pic"/>
      </div>
      <div class="user-details">
        <div class="details">
          <p>
            {{ user.first_name }} {{ user.last_name }}
            <i v-show="this.hasUnsentMessage" class="fa fa-feather"></i>
          </p>
          <p class="user-details-category">
            {{ user.is_expert === '1' ? 'Expert' : 'Farmer' }}, {{user.county}}
          </p>
          <p class="user-details-date">{{user.last_chat_date}}</p>
          <p v-bind:class="this.getStatusClasses">{{user.status}}</p>
        </div>
        <div v-show="user.unread_messages_count > 0" class="message-count">
          {{ user.unread_messages_count }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import UserImage from '@/pages/Message/UserImage'
export default {
  name: 'UserCard',
  components: {
    UserImage
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      isActive: false
    }
  },
  methods: {
    switchActiveChatMate () {
      /**
      * If the chat mate clicked is the active one, don't emit the below event
      * This is because we don't want to serve a request to the server to fetch message
      * as we have the message(s) fetched and rendered already
      */
      if (this.user.id !== this.chatMate.id) {
        this.$emit('showUnsentMessageIcon', this.chatMate.id)
        this.$emit('switchActiveChatMate')
      }
      this.markMessagesAsReadAction(this.user.id)
    },
    ...mapActions([
      'loadMessagesAction', 'unreadMessagesAction',
      'connectPeer', 'markMessagesAsReadAction'
    ])
  },
  computed: {
    getIsActiveClasses () {
      return 'user-card' + (this.user.isActive ? ' is-active' : '')
    },
    getStatusClasses () {
      return 'user-details-status ' + (this.user.status ? this.user.status.toLowerCase() : '')
    },
    hasUnsentMessage () {
      return this.user.hasUnsentMessage
    },

    ...mapGetters(['chatMate', 'allUsers'])
  }
}
</script>
<style scoped>
.fa-user {
  font-size: 30px !important;
  text-align: center;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
.card-content-image {
  margin-top: .5rem;
  width: 4.2rem;
  height: 4.2rem;
}
.user-card {
  min-width: 100%;
  padding: 0.2rem 0;
  border-radius: 0;
  cursor: pointer;
  background-color: transparent;
  border-bottom: 2px solid #5e5d5d33 !important;
  border-right: none;
}
.card-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: .8rem 0;
  border-radius: 0;
  width: 80%;
  margin: auto;
  background-color: transparent;
  color: #c9c9c9;
  overflow: hidden;
}
.user-details {
  min-width: calc(74% - .8rem);
  display: flex;
  *margin-left: 0rem;
  justify-content: space-between;
}
.user-details > div.details > * {
  overflow-wrap: break-word
}

.user-details > div.details > * > i {
  margin-left: .5rem
}
.user-details p {
  font-size: 0.7rem;
}
.user-details {
  padding-top: 0.5rem;
}
.user-details p {
  text-transform: capitalize
}
.user-details .user-details-category {
  color: #a5a5a5;
}

.user-details .user-details-date {
  color: #4e4e4e;
}
.user-details .user-details-status {
  color: #7c7c7c;
  font-size: .7rem;
}
.online {
  color:#81a324 !important;
}
.user-card:hover {
  background-color: #3e3e3e46;
}
.is-active,
.user-card.is-active:hover {
  background-color: #3e3e3e;
  box-shadow: 2px 0 0px rgb(125, 125, 125);
}
.is-active .user-details-date {
  color: #6d6d6d;
}

.message-count {
  font-size: .6rem;
  color: #f8f5f5;
  background-color: #797575;
  height: 1rem;
  padding-top: .1rem;
  padding-left: .3rem;
  padding-right: .3rem;
  width: auto;
  display: flex;
  align-items: center;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  border-radius: .3rem;
}
@media only screen and (max-width: 660px) {
  .card-content-image {
    width: 3rem;
    height: 3rem;
  }
}
</style>
