<template>
  <div class="sp-update-index">
    <ProfileSideBarLayout>
    <Switcher
    :switcherOptionList="switcherOptionList"
    @changeActiveLinkStatus="changeActiveLinkStatus"
    :activeLink="activeLink"
    />
    <ServiceProviderUpdate
    :options="TOPICS"
    :blogs="EXPERT_UPDATES"
    :expertId="expertId"
    class="rr-container"
    />
    <UpdateCard
    v-for="update in EXPERT_UPDATES" :key="update.id"
    :blog="update"
    id="sp-blog-content"
    :completedReading="completedReading"
    />
    </ProfileSideBarLayout>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import jwt from 'jsonwebtoken'
import Switcher from '@/components/ui/Switcher.vue'
import ServiceProviderUpdate from '@/pages/ServiceProviderUpdates/ServiceProviderUpdate.vue'
import UpdateCard from '@/components/ui/UpdateCard.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'

export default {
  name: 'ServiceProviderUpdateIndex',
  data () {
    return {
      activeLink: 'myUpdates',
      switcherOptionList: [
        {
          optionName: 'My Updates',
          linkName: 'myUpdates'
        },
        {
          optionName: 'Profile',
          linkName: 'myProfile'
        },
        {
          optionName: 'Reports',
          linkName: 'myReports'
        }
      ],
      token: this.getToken().token,
      expertId: this.getToken().expertId,
      completedReading: false
    }
  },
  components: {
    Switcher,
    ServiceProviderUpdate,
    UpdateCard,
    ProfileSideBarLayout
  },
  methods: {
    changeActiveLinkStatus (status) {
      this.activeLink = status
    },
    ...mapActions(['GET_EXPERT_UPDATES', 'GET_TOPICS']),

    getToken () {
      const token = localStorage.getItem('token')
      const expertId = token && jwt.decode(token).sub
      return {token, expertId}
    }
  },
  mounted () {
    this.GET_TOPICS({token: this.token})
    this.GET_EXPERT_UPDATES({expertId: this.expertId, token: this.token})
  },
  computed: {
    ...mapGetters(['TOPICS']),
    ...mapState({
      EXPERT_UPDATES: state => state.expert.expertUpdates,
      expertDetails: state => state.expert.expertDetails
    })
  }
}
</script>

<style lang="scss" scoped>
#sp-blog-content {
  max-width: 600px;
  background-color: #ffffff
}
.rr-container {
  max-width: 600px;
}
@media only screen and (width: 768px) {
  #sp-blog-content {
    max-width: 100%;
    // margin: 2rem auto;
  }
  /deep/ #rr-switcher {
    margin-left: 73px !important;
  }
}

@media only screen and (max-width: 700px) {
  #sp-blog-content {
    max-width: 100%;
  }
  /deep/ #rr-switcher {
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 600px) {
  .sp-update-index >>> .slot-wrapper {
    margin: 0 auto;
    width: 100%
  }
  .sp-update-index >>> .my-slot {
    width: 100%;
    margin: 0 auto;
  }
}
</style>
