<template>
 <div class="subscription-content col-sm-12">
  <div class="col-sm-4 float-left">
    <div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        <p>Cum sociis nataque penatibus et magnis dis.</p>
        <p>Parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
    <button v-on:click="selectMembership(3, first)" class="bg-danger"><!-- <i class="fa fa-check"></i> --> 3 Months @ KES {{first}}</button>
  </div>

  <div class="col-sm-4 float-left">
    <div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        <p>Cum sociis nataque penatibus et magnis dis.</p>
        <p>Parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
    <button v-on:click="selectMembership(6, second)" class="bg-warning"><!-- <i class="fa fa-check"></i> --> 6 Months @ KES {{second}}</button>
  </div>

  <div class="col-sm-4 float-left">
    <div>
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
        <p>Cum sociis nataque penatibus et magnis dis.</p>
        <p>Parturient montes, nascetur ridiculus mus.</p>
      </div>
    </div>
    <button v-on:click="selectMembership(12, third)" class="bg-primary"><!-- <i class="fa fa-check"></i> --> 12 Months @ KES {{third}}</button>
  </div>
 </div>
</template>

<script>
export default {
  name: 'SubscriptionOptions',
  props: ['first', 'second', 'third'],
  methods: {
    selectMembership (month, value) {
      /**
       * This method stores sessionStorage variables of month, value
       *  and also routes to payment page
       */
      let subscriptionInfo = { month: month, value:value }
      sessionStorage.setItem('month', month)
      sessionStorage.setItem('value', value)
      this.$router.push({path: '/payment'})
    }
  }
}
</script>

<style scoped>
.subscription-content > div > button{
  width: 100%;
  display: block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1em;
  box-shadow: none;
  outline: 0;
  border: none;
}
.subscription-content > div{
  margin: 30px 0px;
}
.subscription-content > div > div{
  padding: 30px;
  background: #ffffff;
}
.subscription-content > div > div h3{
  font-size: 2em;
  margin-bottom: 25px;
}
.subscription-content > div > div h3 small{
  font-size: 0.5em;
}
.subscription-content > div > div p{
  margin-bottom: 25px;
  color: #b2b2b2;
}

@media screen and (max-width: 1024px){
 .subscription-content > div > div{
  padding: 15px;
 }
 .subscription-content > div > div h3{
  font-size: 1.5em;
 }
}

@media screen and (max-width: 768px){
 .subscription-content > div{
  width: 100%;
  max-width: 100%;
  margin:30px 0px;
  padding: 0px;
 }
 .subscription-content > div > div h3{
  text-align: center;
 }
 .subscription-content > div > div h3 br{
  display: none;
 }
}
</style>
