<template>
  <div class="page">
    <div class="side">
      <EcommerceSideBar/>
    </div>
    <div class="slot-wrapper">
      <MainSwitcher/>
      <div class="my-slot">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
import EcommerceSideBar from '@/components/ui/EcommerceSideBar'
import MainSwitcher from '@/components/layout/MainSwitcher'
export default {
  components: {
    EcommerceSideBar,
    MainSwitcher
  }
}
</script>
<style scoped>
.page {
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 80px;
}
.side {
  border-right: #f2f2f2 solid 0.15rem;
  background-color: #f8f8f8;
  position: fixed;
  height: 100%;
  z-index: 0;
  width: 28%;
}
.slot-wrapper {
  padding-bottom: 5%;
  padding-left: 28%;
}
.my-slot {
  width: 90%;
  margin-left: 6%;
  padding-right: 3%;
}
@media only screen and (max-width: 800px) {
  .side {
    border: none;
    border-bottom: #f2f2f2 solid 0.15rem;
    position: relative;
    width: 100%;
  }
  .slot-wrapper {
    margin: 0 1rem;
    padding-left: 0;
  }
  .my-slot {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .my-slot {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
</style>
