<template>
  <div class="page">
    <div class="side">
      <ProfileSideBar/>
    </div>
    <div class="slot-wrapper">
      <MainSwitcher/>
      <div class="my-slot">
        <slot></slot>
      </div>
    </div>
  </div>
</template>
<script>
import ProfileSideBar from '@/components/ui/ProfileSideBar'
import MainSwitcher from '@/components/layout/MainSwitcher'
export default {
  components: {
    ProfileSideBar,
    MainSwitcher
  }
}
</script>
<style scoped>
.page {
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 80px;
  margin-bottom: 70px;
}
.side {
  border-right: #f2f2f2 solid 0.15rem;
  background-color: #f8f8f8;
  position: fixed;
  height: 100%;
  z-index: 0;
  width: 28%;
}
.slot-wrapper {
  margin-bottom: 70px;
  padding-left: 28%;
}
.my-slot {
  width: 90%;
  margin-left: 6%;
  padding-right: 3%;
}
@media only screen and (max-width: 800px) {
  .side {
    border: none;
    border-bottom: #f2f2f2 solid 0.15rem;
    height: 10rem;
    position: relative;
    width: 100%;
    padding: 0px 15px;
  }
  .page {
  margin-bottom: 40px;
}
  .slot-wrapper {
    margin: 33px 1rem;
    padding-left: 0;
  }
  .my-slot {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .my-slot {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 600px) and (max-width: 800px){
   .slot-wrapper {
    margin-bottom: 70px;
  }
}
</style>
