<template>
  <div>
      <canvas>
      </canvas>
    <PerformanceMeter
      :performance="performance"
      strokeWidth="4"
      fontSize="19"
      fontFamily="consolas"
      size="150"
      imageName="milk.svg"
      unit="%"
    />
    <div class="text-center mt-3">
      <h4>{{responseData.result}}</h4>
      <p>{{responseData.message}}</p>
      <AppButton @click="$router.push('/')" v-if="isLoggedIn" class="mt-2"> Help me improve &#x2192;</AppButton>
      <AppButton v-else class="mt-2" @click="showSignupModal">Sign up to find out how &#x2192;</AppButton>
      <div v-if="responseData.socials" class="mt-3">
      <SocialMediaShare
        :farmPerformance='responseData'
        :shareText="this.shareText"
      />
      </div>
    </div>
  </div>
</template>
<script>
import isLoggedInMixin from '@/mixins/isLoggedInMixin'
import showSignupModalMixin from '@/mixins/showSignupModalMixin'
import AppButton from '@/components/ui/AppButton'
import PerformanceMeter from '@/components/ui/PerformanceMeter'
import SocialMediaShare from '@/components/layout/SocialMediaShare'
import performanceHelper from '@/utils/performance/averageMilkPerformance'

export default {
  name: 'AverageMilkPreformance',

  components: {
    AppButton,
    PerformanceMeter,
    SocialMediaShare
  },

  mixins: [isLoggedInMixin, showSignupModalMixin],

  data () {
    return {
      salesPerformance: this.performance,
      responseData: {},
      shareText: `I'm selling ${this.performance}% of my milk.`
    }
  },

  created () {
    // * triggers the response method */
    this.updateResponse()
    const test = {
      user_id: localStorage.getItem('userId'),
      test: 'average-milk-production',
      result: this.performance
    }
    localStorage.setItem('test', JSON.stringify(test))
    if (localStorage.userId) {
      this.$store.dispatch('POST_TEST_RESULTS', test)
    }
  },
  methods: {
    // ** response given to the user after filling inputs */
    updateResponse () {
      this.responseData = performanceHelper(this.salesPerformance)
      return performanceHelper(this.salesPerformance)
    }
  },

  props: ['performance']
}
</script>
<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
  }

  .info-message {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    min-width: 13rem;
    max-width: 25rem;
    width: 70%;
    margin: 0 auto 1rem;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 1.7rem;
    }
  }
  canvas {
    display: none;
    font-family: 'Comfortaa', cursive;
  }
</style>
