<template>
  <div>
    <div class='div-image'><img src="@/assets/dairy2.png"></div>
    <h2>Your Annual Herd Growth</h2>
    <table>
      <thead>
        <tr>
          <th scope="col"></th>
          <th>Year 1</th>
          <th>Year 2</th>
          <th>Year 3</th>
          <th>Year 4</th>
          <th>Year 5</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cows</td>
          <td v-for="herds in herdOne" :key='herds.index'>{{herds.cows}}</td>
        </tr>
        <tr>
          <td>Calves</td>
          <td v-for="herds in herdOne" :key='herds.index'>{{herds.calves}}</td>
        </tr>
        <tr>
          <td>Heifers</td>
          <td v-for="herds in herdOne" :key='herds.index'>{{herds.heifers}}</td>
        </tr>
        <tr>
          <td>Total</td>
          <td v-for="herds in herdOne" :key='herds.index'>{{herds.total}}</td>
        </tr>
      </tbody>
    </table>
    <AppButton v-if="isLoggedIn">Help me achieve this &#x2192;</AppButton>
    <AppButton v-else @click="showSignupModal">Sign up to find out how &#x2192;</AppButton>
  </div>
</template>

<script>
import isLoggedInMixin from '@/mixins/isLoggedInMixin'
import showSignupModalMixin from '@/mixins/showSignupModalMixin'
import AppButton from '@/components/ui/AppButton'

export default {
  props: ['herdOne'],

  mixins: [isLoggedInMixin, showSignupModalMixin],

  components: {
    AppButton
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  table {
    max-width: 43rem;
    width: 80%;
    box-shadow: 0rem 0rem 1.4rem #d5e2a3;
    margin: 2rem auto;
    font-size: 1rem;
  }

  img {
      width: 14rem;
  }

  table tr:nth-child(even) {
    background-color: #eef2dd;
  }

  table tr:nth-child(odd) {
    background-color: white;
  }

  table thead th {
    background-color:rgb(234, 239, 208);
    border: none;
  }

  table tbody {
    font-family: 'Comfortaa-Regular'
  }

  table td,
  table th {
    border: none;
    padding: 0.8rem 1.5rem;
  }

  tr td:first-child {
    text-align: left;
  }

  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 1.8rem;
    }

    table {
      width: 100%;
      font-size: 0.8rem;
    }

    table td,
    table th {
      padding: 0.6rem 0.6rem;
    }
  }

  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 1.7rem;
    }

    img {
      width: 11rem;
    }

    table td,
    table th {
      padding: 0.6rem 0.3rem;
    }
  }
</style>
