<template>
<ProfileSideBarLayout>
  <div class="profile-wrapper">
    <div class="main-content">
      <div class="publication-header">
        <span class="pulication-list" @click="viewFeatured()">Featured Publications</span>
        <span class="pulication-list" @click="viewAllPublications()">All Publications</span>
      </div>
    <SinglePublication
    />
    </div>

  </div>
  </ProfileSideBarLayout>
</template>

<script>
import SinglePublication from './SinglePublication.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout'

export default {
  name: 'ExpertProfileIndex',
  components: {
    SinglePublication,
    ProfileSideBarLayout
  },
  data () {
    return {
      activeStatusLink: 'isMyActivitiesLinkActive'
    }
  },
  methods: {
    viewFeatured () {
      return this.$router.push({name: 'FeaturedPublications'})
    },
    viewAllPublications () {
      return this.$router.push({name: 'AllPublications'})
    }
  }
}
</script>
<style  scoped>
.publication-header {
  text-align: left;
  width: 90%;
  margin-top: 80px;
  margin-right:2px;
  padding-left: 15px;
}
.pulication-list {
  list-style: none;
  display: inline-block;
  margin-right: 2rem;
  color: #7a3241;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .publication-header {
    max-width: 85%;
    padding-left: 20px;
    margin-top: 10px;
    margin-right: 0px;
  }
  .pulication-list {
    margin-right: 1.2rem;
    font-size: 80%;
  }
  .publication-header {
    max-width: 85%;
  }
  .main-content {
    width: 100;
    min-height: 80vh;
  }
  .publication-header{
    margin: 10px 0px;
    padding: 0px 10px !important;
    max-width: 100%;
    width: 100%;
  }
  .pulication-list{
    font-size: 0.7em;
  }
}
</style>
