<template>
 <transition>
 <EcommerceSideBarLayout>
 <Spinner v-if="this.subscriptionInfo.isLoading"/>
    <div v-if="!this.subscriptionInfo.isLoading">
    <h1 class="subscription-heading">Subscriptions
    </h1>
      <div class="subscription-card" v-if="this.subscriptionInfo.subscriptionDetails.subscribed.expirationDays > 0">
        <SubscriptionCard
            :subscriberPlan="this.subscriptionInfo.subscriptionDetails.subscribed"
            :months="getMonth(this.subscriptionInfo.subscriptionDetails.subscribed.plan)"
      />
      </div>
        <ExpiredSubscriptionCard v-if="
        this.subscriptionInfo.subscriptionDetails.subscribed &&
        this.subscriptionInfo.subscriptionDetails.subscribed.expirationDays < 1"
        :date="this.subscriptionInfo.subscriptionDetails.subscribed.dueDate"
        />
    </div>
 </EcommerceSideBarLayout>
 </transition>
</template>

<script>
import moment from 'moment'
import { mapActions, mapGetters } from 'vuex'
import EcommerceSideBarLayout from '@/components/layout/EcommerceSideBarLayout.vue'
import SubscriptionCard from '@/pages/IndividualCurrentSubscription/SubscriptionCard.vue'
import ExpiredSubscriptionCard from '@/pages/IndividualCurrentSubscription/ExpiredSubscriptionCard.vue'
import Spinner from '@/components/ui/Spinner.vue'

export default {
  components: {
    EcommerceSideBarLayout,
    SubscriptionCard,
    ExpiredSubscriptionCard,
    Spinner
  },
  name: 'CurrentSubscription',

  methods: {
    ...mapActions(['getSubscriptionDetails']),
    moment,
    getMonth (plan) {
      switch (plan) {
        case 'bronze':
          return 3
        case 'silver':
          return 6
        case 'gold':
          return 9
        default:
          return 3
      }
    }
  },

  computed: {
    ...mapGetters(['subscriptionInfo'])
  },

  created () {
    this.getSubscriptionDetails({router: this.$router})
  }
}
</script>

<style scoped>
  .subscription-heading{
    margin-top: 4rem;
  }

  .subscription-wrapper{
    margin-bottom: 2rem;
  }

.subscription-card{
    margin-top: 4rem;
    padding: 2rem 3.8rem;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 1px 10px 10px #f3f7e9;
}

@media only screen and (max-width: 1460px) {

.subscription-card{
    width: 85%;
    padding: 2.5rem 2.5rem;
}
}
  @media only screen and (max-width: 800px) {
    .subscription-heading{
      margin: 4.5rem 1.2rem;
      font-size: 2.2rem;
    }
     .subscription-card{
      margin: 0 1.5rem;
  }
}

@media only screen and (max-width: 540px) {
    .subscription-heading{
      font-size: 1.8rem;
    }

    .subscription-card{
      text-align: center;
      margin: 0;
      width: 95%;
    }

    .subscription-heading{
      text-align: center;
    }
}

</style>
