<template>
    <div class="individual-card">
      <h2 class="subscription-header">Service Provider Subscription</h2>
      <div class="subscription-container">
       <div class="subscription-plan">
       <p class="subscription-months">{{months}} Months</p>
       <p class="subscription-trial" v-if="subscriberPlan.plan==='free'">Free Trial Period</p>
       <p class="subscription-trial" v-if="subscriberPlan.plan !== 'free'">{{subscriberPlan.plan}} Plan</p>
       </div>
       <div class="subscription-expiry" >
       <p class="subscription-date">From {{moment(subscriberPlan.createdAt).format('DD MMMM, YYYY')}} - {{moment(subscriberPlan.dueDate).format('DD MMMM, YYYY')}}</p>
       <p class="subscription-expiry" v-bind:style="{color: getColor(subscriberPlan.expirationDays)}">Expires in {{subscriberPlan.expirationDays}} Days!</p>
       </div>
      </div>
      <AppButton id="subscription-button" @click="subscribeProvider">Upgrade Membership</AppButton>
    </div>
</template>

<script>
import moment from 'moment'
import AppButton from '@/components/ui/AppButton.vue'
export default {
  name: 'SubscriptionCard',
  components: {
    AppButton
  },

  methods: {
    moment,
    getColor: (days) => (days > 10 ? 'rgb(175, 175, 175)' : 'red'),
    subscribeProvider () {
      this.$router.push('/subscription/option')
    }
  },

  props: ['months', 'subscriberPlan']
}
</script>

<style scoped>
#subscription-button{
    width: 200px;
    margin-top: 1rem;
    font-size: 14px;
}

.subscription-header{
    color: #88af00;
    margin-bottom: 1.5rem;
}

.subscription-months{
    font-size: 2.3rem;
    margin: 0;
    font-family: 'Comfortaa-Light'
}

.individual-card{
    padding-bottom: 2rem;
}

.subscription-trial{
    font-size: 1.6rem;
    color: rgb(175, 175, 175);
    margin-top: 0;
    font-family: 'Comfortaa-Light'
}

.subscription-date{
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.4);
    font-family: 'Comfortaa-Light'
}

.subscription-expiry{
    font-size: 1.1rem
}

.subscription-container{
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 1fr 2fr;
}

@media only screen and (max-width: 1460px) {

.subscription-header{
    font-size: 1.4rem;
}

.subscription-expiry{
    width: 100%;
}

.subscription-months{
    font-size: 1.6rem;
}

}

@media only screen and (max-width: 800px) {
  .subscription-container{
      grid-gap: 8.6%;
  }
}

@media only screen and (max-width: 540px){
 .subscription-container{
     grid-template-columns: 1fr
 }

.subscription-header{
    font-size: 0.8rem;
}

.subscription-heading{
    font-size: 1.8rem;
}

.subscription-card{
     padding: 2.5rem 1.8rem;
}
.subscription-months{
    font-size: 2.1rem;
}
 .subscription-container{
      display: block;
  }

.subscription-trial{
    font-size: 1rem;
}
.subscription-button{
    width: 100%;
}
.subscription-date{
    font-size: 1rem;
}
}

</style>
