<template>
  <div slot="validation" class="validation-account">
    <div class="Code-title">Confirmation Code</div>
    <div class="text-center">A code has been sent to your phone.
      <br>Please enter the code below
    </div>
    <div>
      <form class="form-row mt-4 phone-validation">
          <input
            v-model="query"
            class="form-control text-center col-12"
            name="password"
            type="text"
            value
            placeholder="XXXX"
            required
          >
        <div class="error">
        <div class='error-failure text-danger text-center' v-if='erro'>{{this.display_error}}</div>
        <div class='text-success' v-else-if='token'>{{this.display_success}}</div>
        <div class='error-failure text-danger' v-else-if="!userId">{{display_err}}</div>
        </div>

        <button
          type="button"
          class="btn col-md-12"
          @click="executeSearch"
          data-dismiss="modal"
        >
        <font-awesome-icon v-if='verification  &&  iconSpin' icon="spinner" spin />
        <span v-else icon="spinner" >{{ buttonTitle }}</span>
        </button>
      </form>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'BasePhoneValidation',
  methods: {
    executeSearch: function () {
      if (this.$store.state.signup.userAuthSignUp.userId !== null) {
        this.$store.dispatch('verifyToken', this.userPin)
      } else {
        this.display_err = 'Currently not registered, please sign up.'
      }
    }
  },
  computed: {
    ...mapState({
      erro: state => state.phoneValidation.erro,
      verification: state => state.phoneValidation.verification,
      token: state => state.phoneValidation.token
    }),
    iconSpin () {
      return this.$store.state.phoneValidation.spinner
    },
    userId () {
      return this.$store.state.signup.userAuthSignUp.userId
    },
    userPin: {
      get () { return this.query },
      set (value) {
        this.query = value
      }
    },
    display_error: function () {
      const errorObject = this.erro
      let message
      if (!errorObject.success) {
        try {
          return errorObject.error.verification_code[0]
        } catch (error) {
          message = 'Invalid or Expired PIN'
          return message
        }
      } else {
        return null
      }
    },
    sendMessage: {
      get: function () {
        if (!this.$store.state.phoneValidation.erro) {
          this.$store.dispatch('sendMessage')
          return true
        }
        return false
      },
      set: function (value) {
        return value
      }
    }},
  data: function () {
    return {
      display_success: 'Success, Valid PIN.',
      buttonTitle: 'Continue',
      query: this.query,
      display_err: ''
    }
  }
}
</script>
<style scoped>
.moda {
  border-top: none;
}
.btn {
  background-color: #a3c34e;
  color: white;
}
.error-failure{
   font-size: .7em;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);

}
button:focus {
  background-color: #a3c34e;
  border: none;
}
button:hover {
  background-color: #6f8c08;
}
.Code-title{
 font-size: 1.25rem;
  text-align: center;
  color: #717171;
  margin-bottom: 19px;
}
.text-center{
  font-size: 13px;
}
.error{
  margin: 15px auto;
  width: 100%;
}
.validation-account{
  width: 350px;

}
@media only screen and (max-width: 900px) {

.validation-account{
  width: 100%;
}
}
@media only screen and (max-width: 600px) {

.validation-account{
  width: 100%;
}
.error-failure{
      padding-right: 24px;
}
}
</style>
