<template>
<div class="ll-main-container">
  <div class="ll-container" v-for="(listing, index) in livestockListing" :key="index">
    <div class="ll-image-container">
      <img :src="listing.photo"/>
    </div>
    <div class="price-and-county-container">
      <div class="price-container">
        <h5 class="price">KSH {{listing.price}}</h5>
      </div>
      <div class="county-container">
        <p class="county">{{listing.county}}</p>
      </div>
    </div>
    <div class="livestock-type-container">
      <p>{{listing.breed}} - {{listing.title}}</p>
    </div>
    <div class="contact-seller-container">
      <AppButton
      id="ll-contact-seller-btn"
      >
      Contact Seller
      </AppButton>
    </div>
  </div>
</div>
</template>

<script>
import AppButton from '@/components/ui/AppButton.vue'
export default {
  name: 'LivestockPhotoCard',
  components: {
    AppButton
  },
  props: {
    livestockListing: {
      type: Array,
      required: true
    }
  }
}
</script>

<style scoped>
.ll-container {
  max-width: 16rem;
  margin-left: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}
.ll-image-container {
  width: 30%;
}
.ll-image-container > img {
  height: 13rem;
  width: 15.7rem;
}
#ll-contact-seller-btn {
  width: 50%;
  padding: 0.2rem 0.2rem;
  font-size: 90%;
}
.price, .county {
  display: inline-block;
  color: #6e2e3a
}
.price-and-county-container {
  margin-top: 1rem;
  width: 100%;
  position: relative;
}
.county-container, .price-container {
  display: inline-block;
}
.county-container {
  text-align: right;
  float: right;
}
.county {
  font-size: 0.7rem;
}
.livestock-type-container {
  margin: -0rem;
  display: inline-block
}
.livestock-type-container > p {
  color: #b19ca0;
  margin-bottom: 0.5rem;
  font-size: 90%;
}
@media only screen and (max-width: 1024px) {
  .ll-container {
    width: 50%;
    margin: 1rem 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .ll-main-container {
    width: 100%;
  }
  .ll-container {
    margin: 1rem 0rem;
    max-width: 40%;
  }
  .ll-image-container {
    width: 100%
  }
  .ll-image-container > img {
    max-width: 100%
  }
}
@media only screen and (max-width: 600px) {
  .ll-container {
    margin: 1rem 0rem;
    max-width: 80%;
  }
  #ll-contact-seller-btn {
    width: 60%
  }
}
@media only screen and (max-width: 320px) {
  .ll-container {
    display: inline-block;
  }
  .ll-image-container {
    width: 100%;
  }
  .ll-image-container > img {
    height: 12rem;
    width: 12rem;
  }
}
</style>
