<template>
<ProfileSideBarLayout>
    <div class="main-content">
      <UserProfileSwitcher @changeProfileSection="changeProfileSection" />
      <div v-if="activeStatusLink === 'isMyFarmLinkActive'"/>
    </div>
  <div
  v-if="showLoading"
  >
  <Spinner/>
  </div>
  <div v-else>
  <div class="experts-container">
    <div v-if="LIVESTOCK_LIST.length !== 0">
    <LivestockListingFrame
      :livestockListing="LIVESTOCK_LIST"
      :livestockMetaDetails="LIVESTOCK_META_DETAILS"
      :countyOptions="countyOptionsTransformed"
      :livestockTypesOptions="livestockTypesOptionsTransformed"
      :livestockBreedsOptions="livestockBreedsOptionsTransformed"
      :expertId="$route.params.id"
    />
    </div>
    <div v-else-if="getExpertFarmsError" class="note-message">
        <h3>We are yet to have livestocks for this expert</h3>
      </div>
  </div>
  </div>
</ProfileSideBarLayout>
</template>
<script>
import ExpertUserProfile from './ExpertUserProfile.vue'
import UserProfileSwitcher from './Switcher.vue'
import ProfileSideBarLayout from '@/components/layout/ProfileSideBarLayout.vue'
import Spinner from '@/components/ui/Spinner'
import LivestockListingFrame from '@/pages/LivestockListing/LivestockListingFrame'

import { mapGetters, mapActions, mapState } from 'vuex'
export default {
  name: 'ExpertProfileIndex',
  components: {
    ExpertUserProfile,
    UserProfileSwitcher,
    ProfileSideBarLayout,
    Spinner,
    LivestockListingFrame
  },
  metaInfo () {
    console.log(this.LIVESTOCK_LIST)
    const expertName = this.getExpertProfileInformation.getExpertProfile
    const fullName = expertName ? `${expertName.first_name} ${expertName.last_name}` : ''
    return {
      title: `Dairynomics - ${fullName} Livestock listing`,
      meta: [
        {
          name: 'description',
          content: `Dairynomics - ${fullName} Livestock listing`
        },
        {
          property: 'og:title',
          content: `Dairynomics - ${fullName} Livestock listing`
        },
        { property: 'og:type', content: 'website' },
        { property: 'og:url', content: `https://www.cowsoko.com/experts/${this.$route.params.id}/livestock` }
      ]
    }
  },
  computed: {
    ...mapState({
      countyOptions: state => state.expertList.counties.splice(1),
      livestockTypesOptions: state => state.Livestock.livestockTypes,
      livestockBreedsOptions: state => state.Livestock.livestockBreeds,
      showLoading: state => state.Livestock.isLoading,
      LIVESTOCK_LIST: state => state.Livestock.livestock,
      LIVESTOCK_META_DETAILS: state => state.Livestock.metaDetails
    }),
    ...mapGetters(['getExpertFarmsError', 'getExpertProfileInformation']),
    livestockBreedsOptionsTransformed () {
      return this.livestockBreedsOptions.map(breed => {
        return {
          filterType: 'breed',
          filterValue: breed
        }
      })
    },
    livestockTypesOptionsTransformed () {
      return this.livestockTypesOptions.map(livestock => {
        return {
          filterType: 'animal',
          filterValue: livestock
        }
      })
    },
    countyOptionsTransformed () {
      return this.countyOptions.map(county => {
        return {
          filterType: 'market',
          filterValue: county.county
        }
      })
    }
  },
  data () {
    return {
      activeStatusLink: 'isMyFarmLinkActive'
    }
  },
  methods: {
    ...mapActions([
      'FETCH_EXPERT_LIVESTOCK',
      'getCounties',
      'FETCH_LIVESTOCK_TYPES',
      'FETCH_LIVESTOCK_BREEDS'
    ]),
    changeProfileSection (activeLinkStatus) {
      this.activeStatusLink = 'isMyFarmLinkActive'
    }
  },
  mounted () {
    this.FETCH_EXPERT_LIVESTOCK(this.$route.params.id)
    this.getCounties()
    this.FETCH_LIVESTOCK_TYPES()
  },
  created () {
    this.activeStatusLink = 'isMyFarmLinkActive'
  }
}
</script>

<style  scoped>
.note-message {
    text-align: center;
  }
  .experts-container {
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1.4rem #d5e2a3;
    padding: 2rem;
    background-color: #fff;
  }
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {

  .main-content {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .profile-wrapper {
    flex-direction: column;
  }
  .main-content {
    width: 100%;
  }
  .experts-container {
    margin-bottom: 40px;
  }
}
</style>
