<template>
  <div>
    <PerformanceMeter
      :performance="farmPerformance.performance"
      strokeWidth="4"
      fontSize="19"
      fontFamily="consolas"
      size="150"
      imageName="cow-image.png"
      unit="%"
    />
    <h2>{{farmPerformance.result}}</h2>
    <p class="info-message">{{farmPerformance.message}}</p>
    <AppButton @click="$router.push('/')" v-if="isLoggedIn">Help me improve &#x2192;</AppButton>
    <AppButton v-else @click="showSignupModal">Sign up to find out how &#x2192;</AppButton>
    <div>
      <a href="#" @click.prevent="$emit('changeStage')">&#x2190; Back</a>
    </div>
  </div>
</template>

<script>
import PerformanceMeter from '@/components/ui/PerformanceMeter'
import AppButton from '@/components/ui/AppButton'
import isLoggedInMixin from '@/mixins/isLoggedInMixin'
import showSignupModalMixin from '@/mixins/showSignupModalMixin'

const computePerformance = (numberOfCows, cowsBeingMilked) => {
  const performance = Math.round(cowsBeingMilked * 100 / numberOfCows)

  if (performance >= 80) {
    return {
      performance,
      result: 'Congratulations!',
      message: "You're doing pretty well! But you can always do better."
    }
  }

  if (performance >= 70) {
    return {
      performance,
      result: 'Er.. Ok',
      message: "You're doing Ok, but you can do way better!"
    }
  }

  return {
    performance,
    result: 'Below Average',
    message: 'Your farm can perform so much better!'
  }
}

export default {
  name: 'FarmPerformance',

  mixins: [isLoggedInMixin, showSignupModalMixin],

  data () {
    const farmPerformance = computePerformance(this.numberOfCows, this.numberOfMilked)
    return { farmPerformance }
  },

  props: {
    numberOfCows: {
      type: Number,
      required: true
    },

    numberOfMilked: {
      type: Number,
      required: true
    }
  },

  components: {
    PerformanceMeter,
    AppButton
  },
  created () {
    const test = {
      user_id: localStorage.getItem('userId'),
      test: 'herds-composition',
      result: this.farmPerformance.performance
    }
    localStorage.setItem('test', JSON.stringify(test))
    if (localStorage.userId) {
      this.$store.dispatch('POST_TEST_RESULTS', test)
    }
  }
}
</script>

<style scoped>
  * {
    color:#580010;
    box-sizing: border-box;
    line-height: 1.6;
  }

  .info-message {
    font-size: 0.8rem;
    margin-bottom: 0.75rem;
    min-width: 13rem;
    max-width: 25rem;
    width: 70%;
    margin: 0 auto 1rem;
  }

  a {
    display: inline-block;
    color: #88af00;
    font-size: 0.87rem;
    margin-top: 1rem;
  }

  a:hover {
    color: #88af00;
  }

  @media only screen and (max-width: 400px) {
    h2 {
      font-size: 1.7rem;
    }
  }
</style>
