<template>
  <transition name="fade" appear>
    <component
      class="positioning"
      :is="activeComponentName"
      v-bind="propsObject"
      @submit="handleSubmit"
      @changeStage="handleChangeStage"
    />
  </transition>
</template>

<script>
import FarmPerformance from './FarmPerformance'
import HerdsComposition from './HerdsComposition'
import CowsCount from '@/components/ui/CowsCount'
import dynamicComponentMixin from '@/mixins/dynamicComponentMixin'

/**
 * A list containing components in the order they are to be rendered
 * and their props that are in this file state
 */
const componentsPropList = [
  { CowsCount: ['numberOfCows'] },
  { HerdsComposition: ['numberOfCows', 'numberOfMilked'] },
  { FarmPerformance: ['numberOfCows', 'numberOfMilked'] }
]

/**
 * A list containing components in the order they are to be rendered
 * and their props that are not in this file state
 */
const componentViewDetails = [
  {
    CowsCount: {
      title: 'Tell us about your herd composition ...',
      heading: 'How many cows do you have?',
      routerNote: 'Back Home'
    }
  }
]

export default {
  name: 'HerdsCompositionPage',

  mixins: [dynamicComponentMixin(componentsPropList, componentViewDetails)],

  data () {
    return {
      numberOfCows: 0,
      numberOfMilked: 0
    }
  },

  components: {
    FarmPerformance,
    HerdsComposition,
    CowsCount
  }
}
</script>

<style scoped>
  * {
    text-align: center;
  }

  .positioning {
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 6% 1.25rem;
    margin-top: 80px;
  }

  /* TRANSITION */

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: all 1.4s ease-in;
  }
</style>
