<template>
<div>
  <payment-modal v-if="showPaymentModal" @closeModal="closePaymentModal" :contentSection="content">
    <payment-invoice
      @closeModal="closePaymentModal"
      slot="invoice"
      :invoice="invoice"
      :isLoading="isLoading"
      :orderList="orderList"
      :isDownloading="isDownloading"
      :billing="billing">
    </payment-invoice>
  </payment-modal>
</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import PaymentModal from '@/components/ui/PaymentModal.vue'
import PaymentInvoice from './PaymentInvoice.vue'
import { eventBus } from '@/utils/helperFunctions'

export default {
  components: {
    'payment-modal': PaymentModal,
    'payment-invoice': PaymentInvoice
  },
  data () {
    return {
      showPaymentModal: false,
      content: 'invoice'
    }
  },
  computed: {
    ...mapState({
      invoice: state => state.AllInvoicesModule.singleInvoice,
      isLoading: state => state.AllInvoicesModule.loading,
      billing: state => state.AllInvoicesModule.billing,
      orderList: state => state.AllInvoicesModule.orderList,
      isDownloading: state => state.IndividualReceipt.isDownloading
    })
  },
  methods: {
    ...mapActions(['getSingleInvoice', 'resetInvoice']),
    closePaymentModal () {
      this.showPaymentModal = false
    }
  },

  created () {
    eventBus.$on('showPaymentModal', (payload, invoiceId) => {
      this.resetInvoice()
      this.getSingleInvoice({ invoiceId })
      this.content = payload
      this.showPaymentModal = true
    })

    eventBus.$on('closeModal', () => {
      this.showPaymentModal = false
    })
  }
}
</script>
