<template>
<div>
  <Spinner class="modal-loader" v-if="isLoading" />
  <div class="modal-header pt-5 pl-4 pr-4">
    <div class="flex-fill col-lg-4 col-md-4 col-sm-8">
      <div class="">
        <img class="dairynomics-logo" src="~@/assets/logo.svg" />
      </div>
    </div>
    <div class="flex-fill col-lg-4 col-md-4 col-sm-4">
      <div class="d-flex flex-column pt-2">
        <div class="text-right dn-green download">
          <a title="download receipt"
            class="download"
            @click="downloadReceipt(invoice.id)">
            <i :class="[isDownloading ? 'fas fa-spinner fa-spin' : 'far fa-file-pdf', 'fa-2x']"></i>
          </a>
          <span
            slot="close"
            aria-hidden="true"
            class="close-modal pl-4"
            v-on:click="closeModal"
          ><i class="fas fa-2x fa-times"></i></span>
        </div>
      </div>
    </div>
  </div>
  <div slot="receipt" class="p-5">
    <h1 class="mb-5">Invoice {{invoice.invoiceNumber}}</h1>
    <div class="row">
      <div class="col-lg-4 col-sm-12 mb-4 text-dark">
        <div class="d-flex flex-column align-self-center">
          <div class="mb-3">BILLING INFORMATION</div>
          <div class="text-muted">{{fullName}}</div>
          <div class="text-muted">{{phoneNumber}}</div>
          <div class="text-muted">{{country}}</div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 mb-4 text-dark">
        <div class="d-flex flex-column align-self-center">
          <div class="mb-3">PAYMENT DETAILS</div>
          <div class="text-muted">{{fullName}}</div>
          <div class="text-muted">{{phoneNumber}}</div>
          <div class="text-muted">{{country}}</div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-12 mb-4 text-dark">
        <div class="d-flex flex-column align-self-center">
          <div class="mb-3">INVOICE DETAILS</div>
          <div class="text-muted">Invoice No: {{invoice.invoiceNumber}}</div>
          <div class="text-muted text-capitalize">Status: {{invoice.paymentStatus}}</div>
          <div class="text-muted">Date: {{currentInvoiceDate}}</div>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">DESCRIPTION</th>
              <th scope="col">QUANTITY</th>
              <th scope="col">PRICE</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-muted hover" v-for="orderItem in orderList" :key="orderItem.id">
              <td>{{ orderItem.product.productName }} - {{ orderItem.product.description }}</td>
              <td>{{ orderItem.quantity }}</td>
              <td>{{ orderItem.amount }}</td>
            </tr>
            <tr>
               <td class="h4 text-right pt-4 dn-green" colspan="3">
                 <span class="mr-4">TOTAL</span>
                 {{invoice.amountToBePaid}}
               </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
import moment from 'moment'
import { mapGetters, mapActions } from 'vuex'
import Spinner from '@/components/ui/Spinner'
Vue.prototype.moment = moment
export default {
  name: 'PaymentInvoice',
  components: {
    Spinner
  },
  computed: {
    ...mapGetters(['USER_PROFILE']),
    currentInvoiceDate () {
      return moment(this.invoice.createdAt).format('MMM, Do YYYY')
    },
    fullName () {
      return this.billing.fullName
    },
    phoneNumber () {
      return this.billing.phoneNumber
    },
    country () {
      return this.billing.address
    }
  },
  methods: {
    ...mapActions(['downloadReceipt']),
    closeModal () {
      this.$emit('closeModal')
    }
  },
  props: ['invoice', 'isLoading', 'billing', 'orderList', 'isDownloading']
}
</script>

<style scoped>
.close-modal,
.download {
  cursor: pointer;
  z-index: 9999;
}
span.close-modal:hover {
  color: red;
}
.modal-loader {
  display: block;
  position: fixed;
  z-index: 1031;
  right: 0%;
  top: 20%;
  opacity: 0.6;
}
.dn-green,
.download {
  color: rgba(144, 180, 46);
}
.download a:hover {
  color: rgba(144, 180, 46, 0.6);
}
tbody tr.hover:hover {
  background-color: rgba(194, 240, 68, 0.4);
  cursor: pointer;
}
.modal-header {
  padding: 0;
  border: none;
}
.modal-header button {
  border-radius: 0;
  background-color: #4a4a4a;
  color: white;
  padding-top: 12px;
  border: none;
}
.modal-header button:focus {
  outline: none;
}
@media only screen and (max-width: 414px) {
  .dairynomics-logo {
    height: 10%;
    width: 60% !important;
  }
  .modal-header > .col-lg-4 > .dn-green {
    float: right;
    margin-top: -80px;
    margin-right: 50px;
  }
  .modal-header > .col-lg-5 {
    padding-top: 35px;
    padding-left: 20px;
  }
  .p-5 {
    margin-top: -40px;
  }
}
@media only screen and (max-width: 375px) {
  .dairynomics-logo {
    height: 40%;
    width: 70% !important;
  }
  .modal-header > .col-lg-4 > .dn-green {
    float: right;
    margin-top: -80px;
    margin-left: 200px;
  }
  .modal-header > .col-lg-5 {
    padding-top: 35px;
    padding-left: 20px;
  }
  .p-5 {
    margin-top: -40px;
  }
  .modal-header > .col-lg-4 > .dn-green {
    float: right;
    margin-top: -85px;
    margin-right: 50px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .dairynomics-logo {
    height: 40%;
    width: 70% !important;
  }
  .modal-header > .col-lg-4 > .dn-green {
    float: right;
    margin-top: -80px;
    margin-left: 200px !important;
  }
}
@media only screen and (max-width: 1024px) {
}
</style>
