<template>
  <div>
    <div class="product-section2">
      <form>
        <div class="form-width">
          <div class="col-md-12">
            <label for="productName">Product Name</label>
            <input
              class="form-control"
              type="text"
              name="productName"
              v-model="$v.productInfo.name.$model"
              id="productName"
              placeholder="Product Name"
            />
          </div>
          <div class="col-md-12" v-if="$v.productInfo.name.$error">
            <span
              class="text-danger error-msg"
              v-if="!$v.productInfo.name.required"
            >Product Name is required</span>
          </div>

          <div class="col-md-12">
            <label for="productDescription">Product Description</label>
            <textarea
              class="form-control"
              name="productDescription"
              v-model="$v.productInfo.description.$model"
              id="productDescription"
              cols="30"
              rows="3"
              placeholder="Let farmers know more about your product"
            ></textarea>
          </div>
          <div class="col-md-12" v-if="$v.productInfo.description.$error">
            <span
              class="text-danger error-msg"
              v-if="!$v.productInfo.description.required"
            >Product Description is required</span>
          </div>

          <div class="form-row col-md-12">
            <div class="col-md-6">
              <label for="price">Price (KES)</label>
              <input
                class="form-control col-md-12"
                type="number"
                v-model="$v.productInfo.price.$model"
                name="price"
                id="price"
                placeholder="0000"
              />
              <span
                class="text-danger error-msg"
                v-if="$v.productInfo.price.$error && !$v.productInfo.price.required"
              >Price is required</span>
              <span
                class="text-danger error-msg"
                v-if="$v.productInfo.price.$error && !$v.productInfo.price.numeric"
              >Negative numbers are not allowed</span>
            </div>

            <div class="col-md-6">
              <label for="quantity">Quantity</label>
              <input
                class="form-control col-md-12"
                type="number"
                v-model="$v.productInfo.quantity.$model"
                name="quantity"
                id="quantity"
                placeholder="0000"
              />
              <span
                class="text-danger error-msg"
                v-if="$v.productInfo.quantity.$error && !$v.productInfo.quantity.required"
              >Quantity is required</span>
              <span
                class="text-danger error-msg"
                v-if="$v.productInfo.quantity.$error && !$v.productInfo.quantity.numeric"
              >Negative numbers are not allowed</span>
            </div>
          </div>

          <div class="col-md-12">
            <label for="inputType">Input Type</label>
            <v-select
              v-model="productInfo.product_type"
              :options="inputTypeCategory"
              id="inputType"
            ></v-select>
          </div>
          <div class="col-md-12" v-if="$v.productInfo.product_type.$error">
            <span
              class="text-danger error-msg"
              v-if="!$v.productInfo.product_type.required"
            >Input Type is required</span>
          </div>

          <div class="col-md-12">
            <label for="availability">Availability</label>
            <v-select
              v-model="availableOptionsSelected"
              :options="availableOptions"
              id="availablity"
            ></v-select>
          </div>
          <div class="col-md-12" v-if="$v.productInfo.availability.$error">
            <span
              class="text-danger error-msg"
              v-if="!$v.productInfo.availability.required"
            >Availability is required</span>
          </div>

          <label class="col-md-12" for="file-upload">File Upload</label>
          <div class="col-md-12 upload-section">
            <div
              @dragenter.stop
              @dragenter.prevent
              @dragenter="dragEnter()"
              @dragleave.stop
              @dragleave.prevent
              @dragleave="dragLeave()"
              @dragover.prevent
              @dragover.stop
              @drag.stop
              @drop.prevent
              @drop.stop
              @drop="handleDrop($event)"
              class="col-5 col-md-6 col-lg-5 dragndrop"
              :class="{dragging: isDragging}"
            >
              <span>
                <i class="fas fa-arrow-up upload-arrow"></i>
              </span>
              <span class="upload-text">Drag files to upload</span>
              <span class="upload-text">or</span>
              <label for="input-file" class="upload-button">
                <i class="fa fa-upload" aria-hidden="true"></i>
                Choose File
              </label>
              <input
                @change="handleUpload($event)"
                id="input-file"
                class="input-file"
                type="file"
                accept="image/*"
                multiple
              />
            </div>
            <div class="col-7 col-md-6 col-lg-7 preview-text" v-if="productInfo.images.length < 1">
              <p>Preview Your Products here</p>
            </div>
            <div class="col-7 col-md-6 col-lg-7 preview-wrapper" v-else>
              <div
                v-for="img in productInfo.images"
                :key="img.imgFile.name"
                class="preview-details"
              >
                <img v-bind:src="img.imgPreviewUrl" class="preview-img" alt="Preview image" />
                <div class="preview-details-text">
                  <span class="img-name">{{img.imgFile.name}}</span>
                  <span class="img-size">{{img.imgFile.size | convert}}</span>
                </div>
                <i @click="removeImg(img)" class="fas fa-times clear"></i>
              </div>
            </div>
          </div>
          <div class="col-md-12" v-if="$v.productInfo.photo.$error">
            <span
              class="text-danger error-msg"
              v-if="!$v.productInfo.photo.required"
            >You need to upload an image</span>
          </div>

          <button
            @click="handleSubmit()"
            @click.prevent
            class="container submit-button"
            type="submit"
          >
            <font-awesome-icon v-if="submitFormState.loading" icon="spinner" spin />
            <span v-else>Publish Input</span>
          </button>
          <div class="container">
            <p
              v-if="submitStatus === 'ERROR'"
              class="text-danger text-center error"
            >Please fill in all fields correctly</p>
          </div>
          <div class="container">
            <p
              class="text-danger text-center error"
              v-if="submitFormState.error"
            >{{submitFormState.error.message}}</p>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'
import vSelect from 'vue-select'
import { mapActions, mapState } from 'vuex'
import Spinner from '@/components/ui/Spinner'
import { getUserId } from '@/utils/helperFunctions'
import { required, numeric } from 'vuelidate/lib/validators'
export default {
  name: 'UploadProduct',
  components: {
    'v-select': vSelect,
    Spinner,
    FontAwesomeIcon
  },
  data () {
    return {
      productInfo: {
        name: '',
        description: '',
        price: '',
        product_type: '',
        quantity: '',
        photo: [],
        images: [],
        availability: null
      },
      availableOptionsSelected: '',
      availableOptions: ['Unavailable', 'Available'],
      isDragging: false,
      submitStatus: null
    }
  },
  methods: {
    handleUpload (event) {
      const files = event.target.files
      const imgFiles = Object.values(files)
      imgFiles.forEach(async imgFile => {
        const imgPreviewUrl = await this.previewImage(imgFile)
        this.productInfo.photo.push(imgFile)
        this.productInfo.images.push({ imgFile, imgPreviewUrl })
      })
    },
    handleSubmit () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR'
        return
      }
      const userId = getUserId()
      let data = new FormData()
      data.append('name', this.productInfo.name)
      data.append('description', this.productInfo.description)
      data.append('price', this.productInfo.price)
      data.append('product_type', this.productInfo.product_type)
      data.append('quantity', this.productInfo.quantity)
      data.append('user_id', userId)
      this.productInfo.photo.length > 0 &&
        this.productInfo.photo.map((image, index) => {
          data.append('photo' + '[' + index + ']', image)
        })
      this.submitForm(data)
    },
    previewImage (file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        let fileImage = ''
        reader.readAsDataURL(file)
        reader.onload = () => {
          const dataUrl = reader.result
          fileImage = dataUrl
          resolve(fileImage)
        }
      })
    },
    dragEnter () {
      this.isDragging = true
    },
    dragLeave () {
      this.isDragging = false
    },
    handleDrop (event) {
      event.preventDefault()
      event.dataTransfer.dropEffect = 'none'
      event.dataTransfer.effectAllowed = 'none'
      this.isDragging = false
      let dt = event.dataTransfer
      let files = dt.files
      const imgFiles = Object.values(files)
      imgFiles.forEach(async imgFile => {
        const imgPreviewUrl = await this.previewImage(imgFile)
        this.productInfo.photo.push(imgFile)
        this.productInfo.images.push({ imgFile, imgPreviewUrl })
      })
    },
    removeImg (img) {
      const index = this.productInfo.images.indexOf(img)
      this.productInfo.images.splice(index, 1)
    },
    ...mapActions(['fetchProducts', 'submitForm'])
  },
  computed: {
    ...mapState({
      userInputsOffered: state =>
        JSON.parse(state.UserProfileModule.user.inputs_offered),
      submitFormState: state => state.uploadProductStore,
      uploadInputState: state => state.uploadInputStore
    }),
    inputTypeCategory () {
      return this.uploadInputState.selectedInputs.length === 0
        ? this.userInputsOffered
        : this.uploadInputState.selectedInputs
    }
  },
  filters: {
    convert: imgSize => {
      if (imgSize < 999999) {
        const newSize = Math.round(imgSize / 1000)
        return newSize + ' KB'
      } else if (imgSize > 999999) {
        const newSize = Math.round(imgSize / 1000000)
        return newSize + ' MB'
      }
    }
  },
  watch: {
    productInfo: {
      deep: true,
      handler () {
        this.submitStatus = ''
      }
    },
    availableOptionsSelected () {
      const selectedValue = this.availableOptions.indexOf(
        this.availableOptionsSelected
      )
      this.productInfo.availability = selectedValue
    }
  },
  validations: {
    productInfo: {
      name: {
        required
      },
      description: {
        required
      },
      price: {
        required,
        numeric
      },
      quantity: {
        required,
        numeric
      },
      product_type: {
        required
      },
      availability: {
        required
      },
      photo: {
        required
      }
    }
  }
}
</script>

<style lang="scss" scoped>
/deep/ .v-select .dropdown-toggle .clear {
  display: none;
}

/deep/ .v-select .dropdown-toggle {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dragging {
  background: rgb(192, 236, 157) !important;
}
.product-section2 {
  margin-bottom: 20%;
}

.form-width {
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 10px #d3d3d3;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 0;
}

label {
  font-size: 12px;
  margin-top: 15px;
}

.form-row .col-md-6 {
  padding-right: 0 important;
  padding-left: 0 important;
}

.col-md-6 {
  padding-right: 0 important;
  padding-left: 0 important;
}

.upload-section {
  display: flex;
}

.input-file {
  display: none;
}

.dragndrop {
  outline: 2px dashed grey;
  background-color: rgba(211, 211, 211, 0.2);
  text-align: center;
  padding-bottom: 15px;
}

.upload-arrow {
  margin-top: 75px;
  margin-bottom: 3px;
  border: 2px solid #96cf69;
  border-radius: 4px;
  color: #96cf69;
  padding: 5px;
}

.preview-text {
  text-align: center;
  opacity: 0.5;
  font-size: 20px;
  align-self: center;
}
.preview-wrapper {
  display: flex;
  flex-grow: 0;
  height: 200px;
  overflow-y: auto;
  flex-direction: column;
}

.preview-details {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 5px;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.preview-details:first-child {
  padding-top: 0;
}

.preview-details:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.preview-img {
  width: 70px;
  height: 70px;
}

.preview-details-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  margin-left: 8px;
  margin-right: 8px;
  width: 220px;
}

.preview-details-text .img-name {
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
}

.preview-details-text .img-size {
  color: rgb(170, 170, 170);
}

.clear {
  color: #96cf69;
  align-self: center;
  cursor: pointer;
  font-size: 20px;
}

.upload-text {
  font-size: 12px;
  display: block;
}

.upload-button {
  display: inline-block;
  background-color: #46bcff;
  padding: 3px 25px;
  border-radius: 8px;
  font-size: 12px;
  color: #fff;
  margin: 3px 0 15px;
  cursor: pointer;
}

.submit-button {
  background-color: #a3c34e;
  color: white;
  outline: none;
  border: none;
  padding: 0.4rem 0;
  border-radius: 0.3rem;
  margin-top: 35px;
}

.error {
  margin-top: 7px;
  margin-bottom: 5px;
}

.error-msg {
  font-size: 13px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
}
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
}
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
}

@media screen and (max-width: 1025px) {
  .upload-text {
    display: none;
  }

  .upload-arrow {
    display: none;
  }
  .upload-button {
    display: inline-block;
    background-color: #46bcff;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 16px;
    color: #fff;
    margin: 85px 0 15px;
    cursor: pointer;
  }
  .preview-details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 120px;
  }
}

@media screen and (max-width: 576px) {
  .form-width {
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 10px #d3d3d3;
    border-radius: 5px;
  }

  .upload-text {
    display: none;
  }

  .upload-arrow {
    display: none;
  }

  .upload-button {
    display: inline-block;
    background-color: #46bcff;
    padding: 3px 15px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
    margin: 55px 0 15px;
    cursor: pointer;
  }

  .preview-text {
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
    align-self: center;
  }

  .preview-wrapper {
    display: flex;
    height: 140px;
    overflow-y: auto;
    flex-direction: column;
  }

  .preview-img {
    width: 40px;
    height: 40px;
  }

  .preview-details {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
    border-bottom: 1px solid rgb(214, 214, 214);
  }

  .preview-details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 75px;
  }

  .preview-details-text .img-name {
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .clear {
    color: #96cf69;
    align-self: center;
    cursor: pointer;
    font-size: 12px;
  }
}

@media screen and (max-width: 400px) {
  .upload-button {
    display: inline-block;
    background-color: #46bcff;
    padding: 5px 5px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
    margin: 55px 0 15px;
    cursor: pointer;
  }
  .preview-details-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-left: 8px;
    margin-right: 8px;
    max-width: 50px;
  }
}

@media screen and (max-width: 320px) {
  .upload-button {
    display: inline-block;
    background-color: #46bcff;
    padding: 2px 2px;
    border-radius: 8px;
    font-size: 12px;
    color: #fff;
    margin: 55px 0 15px;
    cursor: pointer;
  }
}

.form-row {
  padding-right: 5px;
}
</style>
