<template>
  <div class="product-header mt-3 justify-content-center">
      <div class="livestock-name">
        <p class="product-name-label">Product Name</p>
        <p class="product-name">{{getIndividualProduct.name}}</p>
      </div>
      <div class="product-price text-right">
        <button class="mt-2">Available</button>
        <p class="mt-3 price">KES {{getIndividualProduct.price}}</p>
      </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  data () {
    return {}
  },
  computed: {
    ...mapGetters(['getIndividualProduct'])
  },
  metaInfo () {
    return {
      title: `Dairynomics - ${this.getIndividualProduct.name || ''}`,
      meta: [
        {
          name: 'description',
          content: `Dairynomics - ${this.getIndividualProduct.name || ''}`
        },
        { 
          property: 'og:title',
          content: `Dairynomics - ${this.getIndividualProduct.name || ''}`
        },
        { property: 'og:type', content: 'website' },
        {
          property: 'og:url',
          content: `https://www.cowsoko.com/individual-product/${this.$route.params.id}`},
        { property: 'og:image', content: `${this.update && this.getIndividualProduct.photos[0]}` }
      ]
    }
  }
}
</script>
<style  scoped>
.product-header {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%
}
.product-name-label {
  color: rgb(81, 0, 18);
  font-size: 30px;
  margin-bottom: 2px;
}
.back-button button{
  border: 2px solid #88af00;
  color: #88af00;
  width: 97px;
  border-radius: 30px;
  margin-top: 30px
}
.product-price {
  justify-content: right;
  display: inline-block;
  border-radius: 1px
}

.product-price button {
  background-color: rgb(23, 193, 222);
  border: none;
  color: white;
  font-size: 18px;
  padding: 16px
}
.product-price button {
  background-color: none;
  padding: 5px
}
.price {
  color: #88af00;
  font-size: 30px;
  margin-bottom: 0%;
}
.product-name{
  margin-bottom: 0%;
  color: rgb(177, 177, 177);
  font-size: 21px;
}
@media (max-width: 950px) {
.product-header {
  grid-template-columns: 50% 50%;
  padding: 2%;
  align-items: center;
}
.product-name-label {
  font-size: 26px
}
.price {
  font-size: 16px;
  margin-top: 0;
}
.product-price button {
  padding: 3px;
  font-size: 16px
}
}

@media (max-width: 330px) {
.product-header {
  grid-template-columns: 50% 50%;
}
.product-name-label {
  font-size: 23px
}
.price {
  font-size: 14px;
}
.back-button button{
  font-size:11px;
  width: 60px;
  padding: 5px
  /* padding: 5px; */
}
}
</style>
