<template>
  <div class="media mt-3 input-container">
    <i :class="['fa fa-user-circle', nested ? 'fa-2x' : 'fa-3x',  'mr-2 color-primary']"></i>
    <div class="media-body">
      <textarea
        class="comment-input"
        :placeholder="placeholder"
        v-model="body"
        @keydown.enter.prevent="submitComment()"
      ></textarea>
      <p class="action-buttons">
        <button @click="cancelComment" class="cancel-button">Cancel</button>
        <button
          :disabled="(body==null||body.trim()=='') || (comment === body)"
          @click="submitComment()"
          class="ml-1 post-button"
        >{{buttonText}}</button>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    comment: {
      type: String,
      default: ''
    },
    commentId: {
      type: String,
      default: ''
    },
    buttonText: {
      type: String,
      default: 'Post Comment'
    },
    placeholder: {
      type: String,
      default: 'Add a comment'
    },
    nested: {
      type: Boolean,
      default: false
    },
    editing: {
      type: Boolean,
      default: false
    },
    isReplying: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      body: '',
      cancelled: false
    }
  },
  methods: {
    submitComment () {
      this.$emit('submitComment', this.commentId, this.body, this.nested)
      this.body = ''
      this.$parent.editing = false
    },
    cancelComment () {
      this.body = ''
      this.$emit('cancelComment')
      this.$parent.editing = false
    }
  },
  mounted () {
    this.body = this.comment
  }
}
</script>

<style lang="scss" scoped>
.input-container {
  width: 100%;
}
.media-body {
  display: flex;
  flex-direction: column;
  width: center;
}
.comment-input {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  resize: none;
  padding-left: 15px;
  padding-top: 10px;
  -webkit-box-shadow: 3px 3px 22px 3px rgba(76, 80, 63, 0.12);
  box-shadow: 3px 3px 22px 3px rgba(162, 203, 25, 0.12);
  outline: none;
  width: 100%;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.7);
}
.action-buttons {
  text-align: right;
}
.post-button,
.post-button:active {
  background: #90b42e;
  color: #fff;
  font-size: 0.7rem;
  padding: 0.5rem;
  border-radius: 9px;
  border: none;
  margin-top: 1px;
  outline: none;
  vertical-align: middle;
  cursor: pointer;
}
.cancel-button {
  outline: none;
  border: none;
  background: none;
  color: #8c8c8ccc;
  font-size: 0.8rem;
  cursor: pointer;
}
.cancel-button:disabled,
.post-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
@media screen and (max-width: 500px) {
  .fa-user-circle {
    font-size: 1.7rem;
  }
}
</style>
