<template>
  <div class="confirm-container">
    <div class="confirm-wrapper">
      <div class="confirm-header">
        <i class="fa fa-check"/>
        Confirmation
      </div>
      <div class="confirm-body">{{body}}</div>
      <div class="confirm-footer">
        <button @click="confirm(false)" class="button btn-cancel">Cancel</button>
        <button @click="confirm(true)" class="button btn-confirm">Confirm</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: 'Confirmation'
    },
    body: {
      type: String,
      default: 'Do you want to delete this comment?'
    }
  },
  data () {
    return {}
  },
  methods: {
    confirm (state) {
      this.$emit('onConfirm', state)
    }
  }
}
</script>

<style lang="scss" scoped>
.confirm-container {
  background-color: rgba(214, 240, 45, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-wrapper {
  width: 400px;
  max-width: 80%;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.confirm-header {
  background-color: #4a4a4a;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
}
.confirm-body {
  padding: 2rem 1rem 1rem 1rem;
  flex: 1;
  text-align: center;
}
.confirm-footer {
  display: flex;
  padding: 0.5rem;
}
.btn-confirm,
.btn-cancel {
  width: 100%;
  margin: 0.5rem;
  border-radius: 0.2rem;
  padding: 0.2rem 0;
}
.btn-confirm {
  background-color: #89aa35;
  color: #fff;
}
</style>
