<template>
  <!-- logIn -->
  <div>
  <div slot="login">
    <form>
      <h5 id="confirmation-code" class="text-center mb-4">Send Confirmation Code</h5>
       <label>Phone Number</label>
      <div class="code-phone mt-2">
        <div id="countryCode" class="form-group">
          <SelectCountry
            v-model="selectedCountry.country_code"
            :options="countryCodes"
            :defaultOption="selectedCountry"
            label="name"
            track-by="name"
            :show-labels="false"
          />
        </div>
        <div id="phone" class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="0722..."
            v-model="$v.recoveryForm.phone.$model"
          >
        </div>
      </div>
       <!-- phone number validator-messages -->
      <div class="phone-error mt-1">
        <p v-if="$v.recoveryForm.phone.$error" class="error-message">
          <span v-if="!$v.recoveryForm.phone.required">Phone number is required</span>
          <span v-else-if="!$v.recoveryForm.phone.integer">Phone number must be digit</span>
          <span
            v-else-if="!$v.recoveryForm.phone.minLength"
          >Phone number should not be less than 9 characters</span>
          <span
            class="mt-1"
            v-else-if="!$v.recoveryForm.phone.maxLength"
          >Phone number should not be more than 10 characters</span>
        </p>
      </div>
      <button class="form-control" @click.prevent="sendPhoneDetails">
        <font-awesome-icon v-if="getForgotPin.loading" icon="spinner" spin/>
        {{recoveryForm.buttonTitle}}
      </button>
    </form>
  </div>
  <div v-if="getForgotPin.error">
      <p id="error-msg">{{getForgotPin.error}}</p>
    </div>
  </div>
</template>

<script>
import {
  required,
  minLength,
  integer,
  maxLength
} from 'vuelidate/lib/validators'
import { interceptor } from '@/utils/api/AxiosCalls'
import kenyaCountiesMixin from '@/mixins/kenyaCountiesMixin'
import listOfCountriesCodeMixins from '@/mixins/listOfCountriesCodeMixins'
import { mapActions, mapGetters } from 'vuex'
import axios from 'axios'
import SelectCountry from '../SelectCountry'
import Spinner from '@/components/ui/Spinner.vue'
export default {
  data () {
    return {
      recoveryForm: {
        country_code: '+254',
        phone: '',
        buttonTitle: 'Send Code'
      },
      selectedCountry: {
        flag: '/static/svg/flags/ke.svg',
        country_code: '+254'
      }
    }
  },
  components: {
    SelectCountry,
    Spinner
  },
  computed: {
    ...mapGetters({
      getForgotPin: 'getForgotPin'
    })
  },
  watch: {
    getForgotPin (newData, oldData) {
      if (newData.loading) {
        this.recoveryForm.buttonTitle = ''
      } else if (!newData.loading && !newData.success) {
        this.recoveryForm.buttonTitle = 'Send Code'
      }
    }
  },

  methods: {
    ...mapActions(['sendVerification']),
    sendPhoneDetails: function () {
      if (this.$v.recoveryForm.$invalid) {
        return this.$v.recoveryForm.$touch()
      }
      this.sendVerification({
        country_code: this.selectedCountry.country_code,
        phone: this.recoveryForm.phone
      })
    }
  },
  mixins: [kenyaCountiesMixin, listOfCountriesCodeMixins],
  validations: {
    recoveryForm: {
      phone: {
        required,
        integer,
        minLength: minLength(9),
        maxLength: maxLength(10)
      }
    }
  },
  mounted () {
    // delete axios.defaults.headers.common['Authorization']
    axios.interceptors.request.eject(interceptor)
    axios
      .get('https://geoip-db.com/json/')
      .then(res => {
        // eslint-disable-next-line camelcase
        const { country_code } = res.data
        const selectedCountry = this.countryCodes.find(
          // eslint-disable-next-line camelcase
          country => country.country_code_2 === country_code
        )
        if (selectedCountry) this.selectedCountry = selectedCountry
      })
      .catch(err => err)
  }
}
</script>

<style scoped>
form {
  display: flex;
  flex-flow: column;
}
input {
  /* padding: 0.5rem; */
  font-size: 12px;
  border: 2px solid #ced4da;
  padding: 10px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  height: 42px;
}
select {
  font-size: 12px;
}
#countryCode {
  width: 80px;
}
p {
  margin-bottom: 0rem;
}
button {
  padding: 0.5rem;
  background-color: #a3c34d;
  border-radius: 2;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.8s ease-in-out;
}
button:focus {
  background-color: #a3c34e;
  border: none;
}
button:hover {
  background-color: #6f8c08;
}
.phone-error {
  min-height: 32px;
  font-size: 0.7em;
}
.error-message {
  color: red;
}
label {
  margin-bottom: 0rem;
  font-size: 13px;
  color: #717171;
}
#phone {
  margin-left: 10px;
  flex: 1;
  width: 300px;
}
.form-group {
  margin-bottom: 0px;
}
.code-phone {
  display: flex;
}
@media only screen and (max-width: 600px) {
  .form-control {
    padding: 2px;
  }
}
</style>
