<template>
<div>
    <auth-modal v-if="showModal" @closeModal="closeAuthModal" :formSection="form">
       <auth-signup slot="signup"></auth-signup>
       <auth-login slot= "login"></auth-login>
       <auth-pin slot= "authpin" ></auth-pin>
       <auth-validation slot= "validation" ></auth-validation>
       <lost-pin slot="lostpin"></lost-pin>
       <account-code slot="accountCode"></account-code>
    </auth-modal>
</div>
</template>

<script>
import AuthModal from '@/components/ui/UserAuthModal.vue'
import UserAuthSignUp from './UserAuthSignUp'
import UserAuthLogIn from './UserAuthLogIn'
import LostPinRecovery from './LostPinRecovery'
import AccountCode from './AccountCode'
import BasePhoneValidation from '@/components/PhoneValidation/BasePhoneValidation'
import { eventBus } from '@/utils/helperFunctions'

export default {
  components: {
    'auth-modal': AuthModal,
    'auth-signup': UserAuthSignUp,
    'auth-login': UserAuthLogIn,
    'lost-pin': LostPinRecovery,
    'account-code': AccountCode,
    'auth-validation': BasePhoneValidation
  },
  data () {
    return {
      showModal: false,
      form: 'signup'
    }
  },
  methods: {
    closeAuthModal () {
      this.showModal = false
    }
  },

  created () {
    eventBus.$on('showModal', (payload) => {
      this.form = payload
      this.showModal = true
    })

    eventBus.$on('closeModal', () => {
      this.showModal = false
    })
  }
}
</script>

<style scoped>

</style>
