<template>
  <div>
    <button class="contact-seller-button text-center" v-html="buttonDetails">
    </button>
  </div>

</template>

<script>
export default {
  props: ['buttonDetails']
}
</script>

<style scoped>
button {
  width: 100.2%;
  padding: 12px;
  background-color: #90b42e;
  color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 20px;
  border: none;
}
button:focus {
  outline: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font-size: 20px;
}
@media (max-width: 950px) {
  button {
    padding: 15px;
    font-size: 13px;
  }
}
</style>
