<template>
  <div class="dropdown" :class="dropdownType">
    <ul v-on-clickaway="handleClickAway">
      <li v-for="(menuItem, index) in dropdownMenu" :key="index">
        <i :class="menuItem.iconClass"/>
        <a
          class="dropdown-trigger"
          @click="handleDropdownItemClick(menuItem.name, menuItem.referenceId)"
        >{{ menuItem.label }}</a>
      </li>
    </ul>
  </div>
</template>

<script>
import { mixin as clickaway } from 'vue-clickaway'
import { openModal } from '@/utils/helperFunctions'
import { mapMutations, mapGetters } from 'vuex'

export default {
  name: 'DropDown',

  mixins: [clickaway],

  props: {
    dropdownMenu: {
      type: Array,
      required: true
    },

    dropdownType: {
      type: String,
      required: true
    }
  },

  computed: mapGetters(['peerModel']),

  methods: {
    ...mapMutations(['toggleIsLoggedInState', 'SET_PROFILE_PIC']),

    handleClickAway () {
      this.$emit('hideDropdown')
    },

    handleDropdownItemClick (payload, referenceId) {
      if (payload === 'login' || payload === 'signup') {
        return openModal(payload)
      }
      if (payload === 'logout') {
        localStorage.clear()
        this.toggleIsLoggedInState(false)
        this.peerModel.closeConnection()
        this.SET_PROFILE_PIC(require('@/assets/profile.png'))
        this.$router.push('/')
      }
      if (payload === 'profile' || payload === 'users') {
        this.$router.push('/user-profile')
      }
      if (payload === 'editProfile') {
        this.$router.push('/edit-profile')
      }
      if (payload === 'updates' || payload === 'comments') {
        this.$router.push(`/updates/${referenceId}`)
      }
    }
  }
}
</script>

<style scoped>
.dropdown {
  background-color: #fff;
  position: absolute;
  right: -0.9rem;
  top: 3.7rem;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.4rem;
  z-index: 5;
  min-width: 11rem;
}

.dropdown::before {
  content: "";
  position: absolute;
  border-right: 1.2rem solid transparent;
  border-left: 1.2rem solid transparent;
  border-bottom: 1.2rem solid #fff;
  right: 0.9rem;
  top: -1.2rem;
  margin-left: -5px;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.05));
}

.dropdown ul {
  padding: 0.5rem 0.9rem;
  font-size: 0.8rem;
  overflow-y: scroll;
  max-height: 13.4rem;
}

.dropdown li {
  list-style: none;
  position: relative;
  color: #999;
  padding: 0.6rem;
  text-align: left;
  display: flex;
  align-items: center;
}

.dropdown li a {
  line-height: 1.2;
}

.dropdown li i {
  font-size: 1.1rem;
  margin-right: 0.9rem;
  width: 1.1rem;
  color: #ddd;
}

.user-dropdown, .dropdown-trigger {
  cursor: pointer;
}

.notification-dropdown {
  width: 13rem;
}

.notification-dropdown li {
  font-size: 0.8rem;
}

.dropdown li:hover i,
.dropdown li:hover a {
  color: #9acc24;
}

@media only screen and (max-width: 500px) {
  .dropdown ul {
    max-height: 9.5rem;
    padding: 0.2rem 0.6rem;
    font-size: 0.9rem;
  }

  .dropdown li i {
    font-size: 1rem;
  }

  .notification-dropdown {
    width: 12.5rem;
  }

  .notification-dropdown li {
    font-size: 0.78rem;
  }
}

@media only screen and (max-width: 370px) {
  .dropdown {
    right: -0.5rem;
    top: 3.5rem;
  }
}
</style>
