<template>
<div class="image-carousel justify-content-center">
  <p class="prev-button" v-show="showPreviousButton">
  <a @click="prev" class="btn-icon"><i class="fa fa-angle-left fa-2x"></i></a>
  </p>
  <p class="next-button" v-show="showNextButton">
   <a @click="next" class="btn-icon"><i class="fa fa-angle-right fa-2x"></i> </a>
  </p>
    <div
      v-for="number in [currentNumber]"
      :key='number'>
    <img :src="images[currentNumber]"/>
    </div>
</div>
</template>
<script>
export default {
  data () {
    return {
      images: [...this.productImages],
      currentNumber: 0
    }
  },

  methods: {
    next () {
      if (this.currentNumber !== this.images.length - 1) {
        this.currentNumber += 1
      }
    },
    prev () {
      if (this.currentNumber !== 0) {
        this.currentNumber -= 1
      }
    }
  },
  props: ['productImages'],
  computed: {
    showNextButton () {
      return this.images.length - this.currentNumber > 1
    },

    showPreviousButton () {
      return this.currentNumber > 0
    }
  }
}
</script>
<style scoped>
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.btn-icon {
  line-height: 3.5;
}
.next-button,
.prev-button {
  background: #333333;
  width: 45px;
  height: 45px;
  text-align: center;
  opacity: 0.8;
  border-radius: 50%;
  cursor: pointer;
}
.prev-button,
.next-button {
  position: absolute;
  top: 40%;
  color: white;
}
.next-button {
  right: 5%;
}
.prev-button {
  left: 5%;
}
.image-carousel {
  width: 100%;
  position: relative;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 0.8s ease;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
  visibility: hidden;
}
@media (max-width: 950px) {
  img {
    /* height: 330px; */
  }
}
@media (max-width: 450px) {
  img {
    height: 240px;
  }
}
@media (max-width: 380px) {
  img {
    height: 220px;
  }
}
</style>
