<template>
  <div class="row livestock-expert mt-4 mb-4">
    <div class="col-md-12 mt-4">
      <p class="heading lead small">Expert Recommendation</p>
    </div>
    <div class="col-md-12 mb-2">
      <h5>Contact a livestock expert near your area</h5>
    </div>
    <div class="col-md-4 text-center">
      <img :src="pic" alt="Livestock Expert">
    </div>
    <div class="col-md-8 expert-info mt-4">
      <h4 class="expert-name mb-2">{{expert_names}}</h4>
      <h5 class="specialization mr-2">Specialist in:</h5>
      <span class="field">{{field}}</span>
      <button
        @click="$router.push(`/expert-profile/${id}`)"
        class="contact-expert-btn mt-2 mb-2"
      >View Expert</button>
      <p class="other-experts" @click="$router.push(`/experts/county/${county}`)">
        Other experts in {{county}} County
        <i class="fas fa-long-arrow-alt-right"></i>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LiveStockExpert',
  props: {
    id: {
      type: String
    },
    expert_names: {
      required: true,
      type: String
    },
    field: {
      required: true,
      type: String
    },
    county: {
      required: true,
      type: String
    },
    pic: {
      type: String
    }
  },
  computed: {
    expert_id () {
      return parseInt(this.id)
    }
  }
}
</script>

<style scoped>
.heading {
  color: #cddda0;
  text-transform: uppercase;
}
.livestock-expert {
  background: white;
  max-width: 100%;
  margin: 0;
  height: 300px;
  border: 1px solid #f4f7ea;
  box-shadow: 0px 0px 15px rgba(194, 240, 68, 0.4);
}
.livestock-expert img {
  max-width: 200px;
  border-radius: 50%;
  height: 180px;
}
.other-experts {
  cursor: pointer;
}
.expert-info {
  padding-left: 30px;
}
.contact-expert-btn {
  background-color: #91b32e;
  color: #fff;
  width: 150px;
  border: 0;
  transition: background-color 0.8s ease-in-out;
}
.contact-expert-btn:hover {
  background-color: #6f8c08;
}
.expert-name {
  color: #7d404e;
}
.specialization {
  display: inline;
  color: #927279;
}
.field {
  color: #91b32e;
}
@media only screen and (max-width: 575.98px) {
  .livestock-expert {
    height: 550px;
  }
}
@media (min-width: 576px) and (max-width: 771px) {
  .livestock-expert {
    height: 60%;
  }
}
</style>
