<template>
  <ModalBox>
    <div class="row">
      <div class="col col-lg-6 col-md-6 col-sm-6">
        <h2 class="title"><img src="@/assets/logo.svg" alt="logo-image"></h2>
      </div>
      <div class="col col-lg-6 col-md-6 col-sm-6 icon">
        <span class="print-icon"><i class="far fa-file-pdf"></i></span>
        <span class="close-icon" @click="$emit('close')">x</span>
      </div>
    </div>
    <div class="modal-body">
      <slot>
      </slot>
    </div>
  </ModalBox>
</template>

<script>
import ModalBox from './ModalBox'
export default {
  name: 'SingleInvoice',
  components: {ModalBox},
  data () {
    return {
    }
  }
}
</script>

<style  scoped>
  .modal-body {
    margin: 20px 0;
  }

  .modal-default-button {
    float: right;
  }
  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .print-icon{
    font-size: 30px;
    color:rgba(94, 123, 33, 0.63);
    position: relative;
    margin-left: 300px;
  }
  .close-icon{
    font-size: 45px;
    float: top;
    position: relative;
    margin-left: 20px;
    color:rgba(94, 123, 33, 0.63);
    cursor: pointer;
  }
  @media only screen and (max-width: 768px) {
    .print-icon{
      margin-left:150px;
    }
    .close-icon{
      float:none;
    }
    .title{
      margin-top: 10px;
    }
  }
  @media only screen and (max-width:800px) {
    .print-icon{
      margin-left:150px;
    }
    .close-icon{
      float:none;
    }
      .title{
      margin-top: 10px;
    }
  }
  @media only screen and (max-width:414px){
    .print-icon{
      padding-top:100px;
      font-size: 25px !important;
      margin-left:50px !important;
    }
    .close-icon{
      float:right !important;
      font-size: 35px !important;
      margin-top: 4px;
      margin-right:10px;
    }
    .title{
      margin-top: 10px;
    }
    .far {
       font-weight: 400;
       margin-top: 18px;
     }
  }
  @media only screen and (max-width: 375px) {
    .print-icon{
      padding-top:100px;
      font-size: 25px !important;
      margin-left: 20px !important;
    }
    .close-icon{
      float:right !important;
      font-size: 35px !important;
      margin-top: 4px;
      margin-right:10px;
    }
    .title{
      margin-top: 10px;
    }
    .far {
       font-weight: 400;
       margin-top: 18px;
     }
  }
  @media only screen and (max-width: 320px){
    .print-icon{
      float:top;
      font-size: 20px !important;
      margin-left: 20px !important;
    }
    .close-icon{
      font-size: 30px !important;
      margin-right:20px;
    }
    .title{
      font-size: 25px;
      position: relative;
    }
    .far {
       font-weight: 400;
       margin-left: 190px;
     }
    .row > div{
      width: 60%;
    }
    .row > div.icon{
      width: 40%;
    }
    .row > div.icon span, .row > div.icon span i{
      margin: 0px;
      padding: 0px;
    }
    .row > div.icon span.print-icon i{
      margin: 13px 0px 0px 30px;
    }
  }
  @media only screen and (max-width: 1024px){
    .print-icon{
      margin-left:100px;
    }
    h2.title{
      margin-top: 20px;
    }
  }
</style>
