<template>
<div>
  <button class="btn button back-button"
    v-html="traverseButtonDetails"
    @click="$emit('click')"
    :disabled="disabled"
  >
  </button>
</div>
</template>

<script>
export default {
  props: {
    traverseButtonDetails: {
      type: String,
      required: true
    },
    disabled: {
      type: Boolean
    }
  }
}
</script>

<style scoped>
button {
  background-color: #88af00;
  padding: 5px 10px;
  border: none;
  color: #88af00;
  padding: 5px 15px;
  border: 1px solid #88af00;
  background: white;
  border-radius: 44px;
  min-width: 120px;
  outline: none;
  appearance: none;
  transition: all 300ms ease-in-out;
}
button:hover {
  background-color: #6f8c08;
  border-color: #6f8c08;
  color: white;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #e1e1e1;
  cursor: not-allowed;
  color: #666666;
}
</style>
